/* dojox.mobile.Switch */
.mblItemSwitch {
	top: @switch-item-top;
}
.mblSwitchBg {
	-webkit-border-radius: @switch-bg-border-radius;
}
.mblSwitchBgLeft {
	background-image: @switch-bg-left-background-image;
}
.mblSwitchBgRight {
	background-image: @switch-bg-right-background-image;
}
.mblSwitchKnob {
	background-image: @switch-knob-background-image;
	-webkit-border-radius: @switch-knob-border-radius;
}
