/* dojox.mobile.TabBar */
.mblTabBar {
	position: relative;
	height: 48px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: @tabbar-background-color;
	background-image: @tabbar-background-image;
	border-top: 1px solid #000000;
	color: white;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	.mblTabBarButton {
		position: relative;
		list-style-type: none;
		float: left;
		&.mblTabButtonSelected {
			background-color: #404040;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#242424), color-stop(0.5, #353535), color-stop(0.5, #242424));
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
		}	
	}	
}

/* dojox.mobile.TabBarButton */
.mblTabBarButton {
}
.mblTabBarButtonAnchor {
	display: block;
	text-decoration: none;
}
.mblTabBarButtonDiv {
	position: relative;
	height: 34px;
	width: 29px;
	left: 50%;
}
.mblTabBarButtonDivInner {
	left: -50%;
}
.mblTabBarButtonIcon {
	position: absolute;
	left: @tabbarbutton-icon-left;
	top: @tabbarbutton-icon-top;
	-webkit-transform: @tabbarbutton-icon-transform;
}
.mblTabBarButtonTextBox {
	color: #979797;
	font-family: "Helvetica Neue", Helvetica;
	font-size: 11px;
}

.mblTabButton {
	float: left;
	position: relative;
	list-style-type: none;
	width: @tabbarbutton-width;
	text-align: center;
	height: @tabbarbutton-height;
	margin-right: @tabbarbutton-margin-right;
	border-width: @tabbarbutton-border-width;
	border-style: @tabbarbutton-border-style;
	border-color: @tabbarbutton-border-color;
	border-right-color: @tabbarbutton-border-right-color;
	font-family: Helvetica;
	font-size: 13px;
	color: white;
	cursor: @tabbarbutton-cursor;
	line-height: @tabbarbutton-line-height;
	background-color: @tabbarbutton-background-color;
	background-image: @tabbarbutton-background-image;
	-webkit-tap-highlight-color: transparent;

	.mblTabBarButtonAnchor {
		height: @tabbarbutton-anchor-height;
	}
	.mblTabBarButtonDiv {
		display: @tabbarbutton-div-display;
		height: @tabbarbutton-div-height;
	}
	&:first-child {
		-webkit-border-top-left-radius: @tabbarbutton-first-border-top-left-radius;
		-webkit-border-bottom-left-radius: @tabbarbutton-first-border-bottom-left-radius;
		-moz-border-radius-topleft: @tabbarbutton-first-border-top-left-radius;
		-moz-border-radius-bottomleft: @tabbarbutton-first-border-bottom-left-radius;
		border-left-width: @tabbarbutton-first-border-left-width;
	}
	&:last-child {
		-webkit-border-top-right-radius: @tabbarbutton-last-border-top-right-radius;
		-webkit-border-bottom-right-radius: @tabbarbutton-last-border-bottom-right-radius;
		-moz-border-radius-topright: @tabbarbutton-last-border-top-right-radius;
		-moz-border-radius-bottomright: @tabbarbutton-last-border-bottom-right-radius;
		border-right-color: @tabbarbutton-last-border-right-color;
	}
	IMG {
		position: @tabbarbutton-img-position;
		left: @tabbarbutton-img-left;
		top: @tabbarbutton-img-top;
		margin-top: @tabbarbutton-img-margin-top;
		-webkit-transform: @tabbarbutton-img-transform;
	}
}
.mblTabButtonSelected {
	.mblTabBarButtonTextBox {
		color: white;
	}
	&.mblTabButton {
		background-color: @tabbarbutton-selected-background-color;
		background-image: @tabbarbutton-selected-background-image;
	}
}
.mblTabButtonHighlighted {
	&.mblTabButton {
		background-color: @tabbarbutton-highlighted-background-color;
		background-image: @tabbarbutton-highlighted-background-image;
	}
}

.mblTabButtonImgDiv {
	display: @tabbarbutton-imgdiv-display;
	position: @tabbarbutton-imgdiv-position;
	margin-left: @tabbarbutton-imgdiv-margin-left;
	height: @tabbarbutton-imgdiv-height;
}

.mblTabPanelHeader {
	position: relative;
	width: 100%;
	height: @tabpanelheader-height;
	margin: 0px;
	padding: @tabpanelheader-padding;
	background-color: @tabpanelheader-background-color;
	background-image: @tabpanelheader-background-image;
	border-top: 1px solid #CDD5DF;
	border-bottom: @tabpanelheader-border-bottom;
	font-family: Helvetica;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: @tabpanelheader-line-height;
	text-shadow: @tabpanelheader-text-shadow;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	.mblTabButton {
		.mblTabPanelHeader-TabButton-styles;
		&.mblTabButtonSelected {
			background-color: @tabpanelheader-tabbarbutton-selected-background-color;
			background-image: @tabpanelheader-tabbarbutton-selected-background-image;
		}	
	}
	.mblTabButtonDomButton {
		width: 43px;
	}
	.mblDomButton {
		left: 8px;
	}
}
