/* dojox.mobile.TextArea */
.mblTextArea {
	padding: 4px 1px;
	border-color: #9CACC0;
	border-width: 1px;
	border-style: inset;
	font-family: Helvetica;
	font-size: 13px;
	-webkit-border-radius: 5px;
}

/* dojox.mobile.ExpandingTextArea */
.mblExpandingTextArea {
	margin: 2px;
}
