/* dojox.mobile.Tooltip */
.mblTooltip {
	border: #5A5A5A 1px solid;
	padding: 5px;
	position: absolute;
	background: -webkit-gradient(linear, left top, left bottom, from(#656872), to(#121B2F), color-stop(0.1,#2C3345),color-stop(0.1,#161F32));
	-webkit-border-radius: 8px;
	display: block;
	margin: 0px;
	opacity: .97;
}
.mblTooltipBubble {
	background: #f9f7ba;
	padding: 3px;
	overflow: visible;
}
.mblTooltipBubble.mblTooltipAbove .mblTooltipInnerArrow {
	border-bottom-color: #f9f7ba;
}
.mblTooltipBubble.mblTooltipBelow .mblTooltipInnerArrow {
	border-top-color: #f9f7ba;
}
.mblTooltipBubble.mblTooltipAfter .mblTooltipInnerArrow {
	border-left-color: #f9f7ba;
}
.mblTooltipBubble.mblTooltipBefore .mblTooltipInnerArrow {
	border-right-color: #f9f7ba;
}
.mblTooltip.mblTooltipAfter {
	margin-left:-11px;
}
.mblTooltip.mblTooltipBefore {
	margin-left:11px;
}
.mblTooltip.mblTooltipAbove {
	margin-top:11px;
}
.mblTooltip.mblTooltipBelow {
	margin-top:-11px;
}
.mblTooltipAnchor {
	background-color:transparent;
	width:1px;
	height:1px;
	line-height:0px;
	font-size:0px;
	position:absolute;
}
.mblTooltipBefore .mblTooltipAnchor {
	left:-1px;
}
.mblTooltipAfter .mblTooltipAnchor {
	right:-1px;
}
.mblTooltipAbove .mblTooltipAnchor {
	top:-1px;
}
.mblTooltipBelow .mblTooltipAnchor {
	bottom:-1px;
}
.mblTooltipArrow {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0px;
	border: 11px solid transparent;
}
.mblTooltipBefore .mblTooltipArrow {
	left: auto;
	right: 1px;
	_right: 0px; /* IE 7 quirks */
	top: 0px;
	bottom: auto;
	border-left-width: 0;
	border-right-color: #5A5A5A;
}
.mblTooltipAfter .mblTooltipArrow {
	left: 1px;
	right: auto;
	top: 0px;
	bottom: auto;
	border-right-width: 0;
	border-left-color: #5A5A5A;
}
.mblTooltipAbove .mblTooltipArrow {
	top: auto;
	bottom: 1px;
	_bottom: 0px; /* IE 7 quirks */
	left: auto;
	right: auto;
	border-top-width: 0;
	border-bottom-color: #5A5A5A;
}
.mblTooltipBelow .mblTooltipArrow {
	top: 1px;
	bottom: auto;
	left: auto;
	right: auto;
	border-bottom-width: 0;
	border-top-color: #5A5A5A;
}
.mblTooltipInnerArrow {
	position: absolute;
	width: 0px;
	height: 0px;
	line-height: 0px;
	border: 10px solid transparent;
}
.mblTooltipBefore .mblTooltipInnerArrow {
	right: 0;
	_right: -1px; /* IE 7 quirks */
	top: 0;
	border-left-width: 0;
	border-right-color: #192235;
}
.mblTooltipAfter .mblTooltipInnerArrow {
	left: 0;
	top: 0;
	border-right-width: 0;
	border-left-color: #192235;
}
.mblTooltipAbove .mblTooltipInnerArrow {
	bottom: 0;
	_bottom: -1px;
	left: 0;
	border-top-width: 0;
	border-bottom-color: #656872;
}
.mblTooltipBelow .mblTooltipInnerArrow {
	top: 0;
	left: 0;
	border-bottom-width: 0;
	border-top-color: #172035;
}
.mblTooltipHidden {
	visibility: hidden !important;
}
/*Headings and Button styles are overridden in Tooltips*/
.mblTooltip .mblHeading { 
	position: relative;
	margin: 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 9px;
	background-color: #889BB3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5E6167), to(#1A1D24), color-stop(0.5, #2E322B));
	border-top: 3px solid #4F5055;
	border-bottom: 1px solid #2D3642;
	color: white;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
	z-index: 1;
	border-left: 1px solid #2A2D47;
	-webkit-border-radius: 3px 3px 0 0;
	/* unset hasLayout on IE */
	width: auto;
	height: auto;
	overflow: visible;
	line-height: normal;
}
.mblTooltip .mblHeading .mblToolbarButton {
	float: left;
	position: relative;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	margin: auto 6px;
	padding: 0px 10px;
	height: 29px;
	border: 1px inset #434450;
	font-family: Helvetica;
	font-size: 13px;
	font-weight: normal;
	color: white;
	line-height: 29px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#686F80), to(#000924), color-stop(0.5, #000B29));
}