/* dojox.mobile.ToolBarButton */
.mblToolbarButton {
	float: left;
	position: relative;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	.mblToolbarButton-styles;
}
div.mblToolbarButtonDomButton {
	width: 11px;
}
