.mblFlip.mblOut {
	-webkit-animation-duration: .3s;
	-webkit-animation-name: mblFlipOut;
	-webkit-animation-timing-function: ease-out;
}
.mblFlip.mblIn {
	-webkit-animation-duration: .3s;
	-webkit-animation-name: mblFlipIn;
	-webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes mblFlipOut {
	from { -webkit-transform: scaleX(1) skew(0deg,0deg);}
	to { -webkit-transform: scaleX(0) skew(0deg,30deg); }
}

@-webkit-keyframes mblFlipIn {
	from { -webkit-transform: scaleX(0) skew(0deg,-30deg);}
	to { -webkit-transform: scaleX(1) skew(0deg,0deg); }
}
