.scaleOut.out {
	z-index: 0;
	-webkit-animation-duration: .5s;
	-webkit-animation-name: scaleOutOut;
	-webkit-animation-timing-function: ease-in;
}
.scaleOut.in {
	z-index: -100;
	-webkit-animation-duration: .5s;
	-webkit-animation-name: scaleOutIn;
	-webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes scaleOutOut {
	from {
		-webkit-transform: scale(1.0);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(0.0);
		opacity: 0;
	}
}
@-webkit-keyframes scaleOutIn {
	from {}
	to {}
}
