/* Button Colors */
.mblColorBlue {
  background-color: #366EDF;
  background-image: -moz-linear-gradient(top, #7a9de9 0%, #366edf 50%, #215fdc 50%, #2362dd 100%);
}
/* Default Button Colors */
.mblColorDefault {
  background-color: #CED3CE;
  background-image: -moz-linear-gradient(top, #F7FBF7 0%, #CED3CE 50%, #CECFD6 100%);
}
.mblColorDefaultSel {
  background-color: #0869C6;
  background-image: -moz-linear-gradient(top, #088EEF 0%, #0869C6 50%, #0851AD 100%);
}
