@body-background-color: #DEDFDE;
@body-font-size: 18px;

@view-color: black;

@heading-height: 38px;
@heading-padding: 0px;
@heading-background-color: #424142;
@heading-background-image: -webkit-gradient(linear, left top, left bottom, from(#4A4D52), to(#292C31));
@heading-border-top: 1px solid #63696B;
@heading-border-bottom: 1px solid #292C31;
@heading-font-size: 18px;
@heading-font-weight: normal;
@heading-line-height: 40px;
@heading-text-shadow: none; // default
@heading-z-index: auto; // default

@arrowbutton-height: 28px;
@arrowbutton-margin: 4px 3px;
@arrowbutton-head-top: 4px;
@arrowbutton-head-left: 8px;
@arrowbutton-head-height: 19px;
@arrowbutton-head-border-color: #39454A;
@arrowbutton-head-background-image: -webkit-gradient(linear, left top, left bottom, from(#F7FBF7), to(#CECFD6), color-stop(0.5, #CED3CE));
@arrowbutton-body-top: 0px;
@arrowbutton-body-padding: 0px 10px 0px 5px;
@arrowbutton-body-height: 28px;
@arrowbutton-body-border-color: #39454A;
@arrowbutton-body-font-size: 16px;
@arrowbutton-body-font-weight: bold;
@arrowbutton-body-color: black;
@arrowbutton-body-line-height: 30px;
@arrowbutton-body-border-radius: 6px;
@arrowbutton-body-background-color: #CED3CE;
@arrowbutton-body-background-image: -webkit-gradient(linear, left top, left bottom, from(#F7FBF7), to(#CECFD6), color-stop(0.5, #CED3CE));
@arrowbutton-neck-top: 0px;
@arrowbutton-neck-width: 6px;
@arrowbutton-neck-height: 28px;
@arrowbutton-neck-border-width: 1px 0px;
@arrowbutton-neck-border-color: #39454A;
@arrowbutton-neck-background-color: #CED3CE;
@arrowbutton-neck-background-image: -webkit-gradient(linear, left top, left bottom, from(#F7FBF7), to(#CECFD6), color-stop(0.5, #CED3CE));
@arrowbutton-selected-head-background-image: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));
@arrowbutton-selected-neck-background-color: white;
@arrowbutton-selected-neck-background-image: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));

@toolbarbutton-margin: 4px 3px;
@toolbarbutton-height: 28px;
@toolbarbutton-border: 1px inset #39454A;
@toolbarbutton-font-size: 16px;
@toolbarbutton-line-height: 30px;
@toolbarbutton-border-radius: 6px;

@roundrect-margin: 2px 3px 4px;
@roundrect-border: 1px solid #C6C7C6;
@roundrect-border-radius: 6px;
@roundrect-color: black;
@roundrect-background-color: white;
@roundrect-shadow-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.35);

@edgetoedgecategory-height: 29px;
@edgetoedgecategory-border-top: 1px solid #313439;
@edgetoedgecategory-border-bottom: 1px solid #ADAAAD;
@edgetoedgecategory-background-color: white;
@edgetoedgecategory-background-image: none; // default
@edgetoedgecategory-font-weight: bold;
@edgetoedgecategory-color: #7B7D84;
@edgetoedgecategory-line-height: 29px;
@edgetoedgecategory-text-shadow: none; // default

@roundrectcategory-color: #7B7D84;
@roundrectcategory-padding: 0px 6px;
@roundrectcategory-margin: 3px 9px 0px;
@roundrectcategory-height: 29px;
@roundrectcategory-text-shadow: none; // default
@roundrectcategory-line-height: 29px;
@roundrectcategory-background-color: white;
@roundrectcategory-border: 1px solid #ADAAAD;
@roundrectcategory-border-bottom-width: 0px;
@roundrectcategory-border-top-left-radius: 6px;
@roundrectcategory-border-top-right-radius: 6px;

@roundrectlist-margin: 0px 9px 3px;
@roundrectlist-border-radius: 0px; // default
@roundrectlist-bottom-left-radius: 6px;
@roundrectlist-bottom-right-radius: 6px;

@edgetoedgelist-background-color: white;

@listitem-height: 43px;
@listitem-border-bottom: solid 1px #DEDFDE;
@listitem-line-height: 43px;
@listitem-font-size: 18px;
@listitem-font-weight: inherit; // default
@listitem-color: black;
@listitem-background-color: transparent; // default
@listitem-vertical-align: bottom; // To avoid IE6 LI bug
@listitem-padding: 6px;
@listitem-selected-background-color: #0869C6;
@listitem-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));
@listitem-textbox-selected-background-color: #0869C6;
@roundrectlist-listitem-first-border-top-width: 0px;
@roundrectlist-listitem-first-border-top-left-radius: 0px;
@roundrectlist-listitem-first-border-top-right-radius: 0px;
@roundrectlist-listitem-last-border-bottom-left-radius: 6px;
@roundrectlist-listitem-last-border-bottom-right-radius: 6px;
@edgetoedgelist-listitem-last-border-bottom-color: transparent; // default
@edgetoedgelist-listitem-last-border-bottom-width: 0px;
@listitem-anchor-background-position: 14px 17px;
@listitem-anchor-padding-left: 40px;
@listitem-anchor-noicon-padding-left: 10px;
@listitem-selected-anchor-color: white;
@listitem-anchor-rightbutton-padding-right: 50px;
@listitem-dombutton-border-color: black;
@listitem-righttext-top: 17px;
@listitem-righttext-color: black;
@listitem-checked-color: inherit; // default
@listitem-subtext-font-size: 14px;
@listitem-subtext-color: #7B7D48;
@listitem-selected-subtext-color: white;

@switch-item-top: 14px;
@switch-bg-border-radius: 6px;
@switch-bg-left-background-image: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));
@switch-bg-right-color: #7B7D48;
@switch-bg-right-background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F3F7), to(#CEC5D6), color-stop(0.5, #CED3CE));
@switch-knob-background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#999999), color-stop(0.5, #BBBBBB));
@switch-knob-border-radius: 6px;
 
@color-blue-color: white;
@color-blue-background-color: #0869C6;
@color-blue-background-image: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));
@color-default-color: black;
@color-default-background-color: #CED3CE;
@color-default-background-image: -webkit-gradient(linear, left top, left bottom, from(#F7FBF7), to(#CECFD6), color-stop(0.5, #CED3CE));
@color-default-sel-color: white;
@color-default-sel-background-color: #0869C6;
@color-default-sel-background-image: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));

@button-font-size: 16px;
@button-background-image: -webkit-gradient(linear, left top, left bottom, from(#F7FBF7), to(#CECFD6), color-stop(0.5, #CED3CE));
@button-border-radius: 6px;
@button-selected-color: white;
@button-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));
@button-blue-selected-color: white;
@button-blue-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));
@button-red-selected-color: white;
@button-red-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));
@button-disabled-background-image: none;

@checkbox-background-image: -webkit-gradient(linear, left top, left bottom, from(#F7FBF7), to(#CECFD6), color-stop(0.5, #CED3CE));
@checkbox-border-radius: 3px;
@checkbox-transform: translateY(0.4em);
@checkbox-checked-background-image: -webkit-gradient(linear, left top, left bottom, from(#F7FBF7), to(#CECFD6), color-stop(0.5, #CED3CE));
@checkbox-checked-after-border-color: #0851AD;
@checkbox-selected-border-color: #9CACC0;
@checkbox-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));
@checkbox-checked-selected-border-color: #9CACC0;
@checkbox-checked-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));
@checkbox-checked-selected-after-border-color: white;

@combobox-popup-box-shadow: none;
@combobox-popup-border-radius: 12px;
@combobox-menu-border-radius: 12px;
@combobox-menu-background-color: black;
@combobox-menuitem-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));
@combobox-menuitem-border-color: black;
@combobox-menuitem-color: white;

@iconcontainer-padding: 0px;
@iconcontainer-margin: 0px;
@iconcontainer-background-color: black;
@iconcontainer-terminator-height: 0px;
@iconitem-sub-color: black;
@iconitem-area-width: 88px;
@iconitem-area-margin-bottom: 5px;
@iconitem-area-color: white;
@iconitem-heading-height: 30px;
@iconitem-heading-font-size: 16px;
@iconitem-heading-line-height: 32px;

@radiobutton-background-image: -webkit-gradient(linear, left top, left bottom, from(#F7FBF7), to(#CECFD6), color-stop(0.5, #CED3CE));
@radiobutton-border-radius: 0.5em;
@radiobutton-transform: translateY(0.4em);
@radiobutton-checked-background-image: -webkit-gradient(linear, left top, left bottom, from(#F7FBF7), to(#CECFD6), color-stop(0.5, #CED3CE));
@radiobutton-checked-after-border-color: #0851AD;
@radiobutton-checked-selected-border-color: #9CACC0;
@radiobutton-checked-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));
@radiobutton-checked-selected-after-border-color: white;

@slider-background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F3F7), to(#CEC5D6), color-stop(0.5, #CED3CE));
@slider-border-radius: 6px;
@slider-progressbar-background-image: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));
@slider-progressbar-border-radius: 6px;
@slider-handle-background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#999999), color-stop(0.5, #BBBBBB));
@slider-handle-border-radius: 6px;

@tabbar-background-color: #424142;
@tabbar-background-image: -webkit-gradient(linear, left top, left bottom, from(#4A4D52), to(#292C31));

@tabbarbutton-anchor-height: auto; // default
@tabbarbutton-div-display: block; // default
@tabbarbutton-div-height: 40px;
@tabbarbutton-icon-left: 50%;
@tabbarbutton-icon-top: 50%;
@tabbarbutton-icon-transform: translate(-50%,-50%);
@tabbarbutton-width: 78px;
@tabbarbutton-height: 61px;
@tabbarbutton-margin-right: 2px;
@tabbarbutton-border-width: 0px 1px 0px 1px;
@tabbarbutton-border-style: solid;
@tabbarbutton-border-color: black #182018 black #393C39;
@tabbarbutton-border-right-color: #182018; // default
@tabbarbutton-cursor: auto; // default
@tabbarbutton-line-height: inherit; // default
@tabbarbutton-background-color: #212421;
@tabbarbutton-background-image: -webkit-gradient(linear, left top, left bottom, from(#181818), to(#100C10), color-stop(0.1, #313031));
@tabbarbutton-first-border-top-left-radius: 0px; // default
@tabbarbutton-first-border-bottom-left-radius: 0px; // default
@tabbarbutton-first-border-left-width: 1px; // default
@tabbarbutton-last-border-top-right-radius: 0px; // default
@tabbarbutton-last-border-bottom-right-radius: 0px; // default
@tabbarbutton-last-border-right-color: #182018; // default
@tabbarbutton-selected-background-color: #8C8E8C;
@tabbarbutton-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#A59EA5), to(#848284));
@tabbarbutton-highlighted-background-color: #FFB600;
@tabbarbutton-highlighted-background-image: -webkit-gradient(linear, left top, left bottom, from(#FFCB00), to(#FF9A00));
@tabpanelheader-tabbarbutton-border-top-left-radius: 6px;
@tabpanelheader-tabbarbutton-border-top-right-radius: 6px;
@tabpanelheader-tabbarbutton-selected-background-color: #404040;
@tabpanelheader-tabbarbutton-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#242424), color-stop(0.5, #353535), color-stop(0.5, #242424));
@tabbarbutton-imgdiv-display: block; // default
@tabbarbutton-imgdiv-position: relative;
@tabbarbutton-imgdiv-margin-left: 24px;
@tabbarbutton-imgdiv-height: 40px;
@tabbarbutton-img-position: absolute;
@tabbarbutton-img-left: 50%;
@tabbarbutton-img-top: 50%;
@tabbarbutton-img-margin-top: 0px; // default 
@tabbarbutton-img-transform: translate(-50%,-50%);
@tabpanelheader-height: 64px;
@tabpanelheader-padding: 0px 0px 0px 0px;
@tabpanelheader-background-color: #000000;
@tabpanelheader-background-image: none; // default
@tabpanelheader-border-bottom: 2px solid #949694;
@tabpanelheader-line-height: inherit; // default
@tabpanelheader-text-shadow: none; // default

@textarea-border-radius: 6px;

@textbox-border-radius: 6px;

@togglebutton-font-size: 16px;
@togglebutton-background-image: -webkit-gradient(linear, left top, left bottom, from(#F7FBF7), to(#CECFD6), color-stop(0.5, #CED3CE));
@togglebutton-border-radius: 6px;
@togglebutton-checked-color: black;
@togglebutton-checked-background-image: -webkit-gradient(linear, left top, left bottom, from(#F7FBF7), to(#CECFD6), color-stop(0.5, #CED3CE));
@togglebutton-checked-after-border-color: #0851AD;
@togglebutton-selected-color: white;
@togglebutton-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));
@togglebutton-checked-selected-color: white;
@togglebutton-checked-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#088EEF), to(#0851AD), color-stop(0.5, #0869C6));
@togglebutton-checked-selected-after-border-color: white;
