@import url("Grid.css");

.tundra .dojoxGrid {
	background-color: #e9e9e9;
	font-size: 0.85em; /* inherit font-family from dojo.css */
}

/* master messages */

.tundra .dojoxGrid-master-messages {
	background-color: #fefefe;
}

.tundra .dojoxGridLoading, 
.tundra .dojoxGridError {
	background-position:left center;
	background-repeat: no-repeat;
	padding-left:25px;
}

.dijitRtl .tundra .dojoxGridLoading, 
.dijitRtl .tundra .dojoxGridError,
.dijitRtl .tundra .dojoxGridNoData {
	background-position:right;
	padding-right:25px;
	padding-left:0px;
}

.tundra .dojoxGridLoading {
	background-image: url('../../../dijit/themes/tundra/images/loading.gif');
}

.tundra .dojoxGridError {
	background-image: url('../../../dijit/themes/tundra/images/warning.png');
}

/* header */

.tundra .dojoxGrid-header {
	background-color:  #e9e9e9;
}

.tundra .dojoxGrid-header .dojoxGrid-cell { 
	border-width: 1px;
	padding-bottom: 0px;
	border-color: transparent #ACA899 #919191 transparent;
	background: url(../../../dijit/themes/tundra/images/tabEnabled.png) #e9e9e9 repeat-x top;
	color: #000 !important;
}

.tundra .dojoxGrid-header .dojoxGrid-cell-over {
	background: url(../../../dijit/themes/tundra/images/tabHover.png) #e9e9e9 repeat-x top;
	color: #000 !important;
}

.tundra .gridArrowButtonChar {
	float: right;
}
.tundra .gridArrowButtonNode {
	display: block !important;
	padding-left: 0px;
	float: right;
	background:url("../../../dijit/themes/tundra/images/spriteArrows.png") no-repeat left center;
	width: 7px;
	height: 1em;
	margin: 2px 4px 0px 5px;
}
.dj_ie6 .tundra .gridArrowButtonNode {
	background-image:url("../../../dijit/themes/tundra/images/spriteArrows.gif");
}

.tundra .dojoxGrid-sort-up .gridArrowButtonNode {
	background-position: -21px;
}
.dijit_a11y .gridArrowButtonNode {
	display: none !important;
}

/* content */

.tundra .dojoxGrid-scrollbox {
	background-color: #fefefe;
}

/* rowbar */

.tundra .dojoxGrid-rowbar { 
	border: none;
	background: url(images/tabEnabled_rotated.png) #e9e9e9 repeat-y right;
	border-right: 1px solid #cccccc;
	padding: 0px;
}

.tundra .dojoxGrid-rowbar-inner {
	border: none;
	border-bottom: 1px solid #cccccc;
}

.tundra .dojoxGrid-rowbar-over {
	background: url(images/tabHover_rotated.png) #e9e9e9 repeat-y right;
}

.tundra .dojoxGrid-rowbar-selected {
	background: #D8E8F9 url(../../../dijit/themes/tundra/images/tabDisabled.png) #dddddd no-repeat center;
	border-right: 1px solid #cccccc;
}

/* rows */

.tundra .dojoxGrid-row {
	border: none;
	background-color: white;
}

.tundra .dojoxGrid-row-over {
	border-top-color: #cccccc;
	border-bottom-color: #cccccc;
}

.tundra .dojoxGrid-row-over .dojoxGrid-cell {
	background-color: #60a1ea; 
	color:#fff;
}

.tundra .dojoxGrid-row-odd {
	background-color: #f2f5f9;
}

.tundra .dojoxGrid-row-selected {
	background-color: #aec7e3;
}

/* cells */

.tundra .dojoxGrid-cell {
	border: 1px dotted #D5CDB5;
	border-left-color: transparent;
	border-top-color: transparent;
}

.dj_ff2 .tundra .dojoxGrid-cell {
	border-left-width: 0px;
	border-top-width: 0px;
}

.dj_ie6 .tundra .dojoxGrid-cell {
	border: 1px solid white;
	border-right: 1px solid #D5CDB5;
}

.tundra .dojoxGrid-cell-focus {
	border: 1px dotted #a6a6a6;
}

.tundra .dojoxGrid-cell-over {
	border: 1px dotted #a6a6a6;
}

.tundra .dojoxGrid-cell-focus.dojoxGrid-cell-over {
	border: 1px dotted #595959;
}

/* editing */

/* FIXME: these colors are off! */
.tundra .dojoxGrid-row-editing td {
	/* background-color: #F4FFF4; */
	background-color: #60a1ea; 
	/* padding: 0px 3px 0px 3px; */
}

.tundra .dojoxGrid-row-inserting td {
	background-color: #F4FFF4;
}
.tundra .dojoxGrid-row-inflight td {
	background-color: #F2F7B7;
}
.tundra .dojoxGrid-row-error td {
	background-color: #F8B8B6;
}

/* Drag and Drop */

.tundra .dojoxGrid .dojoDndItemBefore {
	border-left-color: #3559ac;
}
.tundra .dojoxGrid .dojoDndItemAfter {
	border-right-color: #3559ac;
}

