.dijitCalendar {
	-moz-border-radius: 0;
	border-radius: 0;
}
.dijitCalendar thead {
	background-color: #182021;
	background-image: url(compat/calendar-month-bg.png);
	background-repeat: repeat-x;
}
.dijitCalendarMonthMenu {
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.dijitCalendar .dijitDropDownButton .dijitButtonNode {
	-moz-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent;
}
.dijitCalendarSelectedDate .dijitCalendarDateLabel {
	background-image: url(compat/calendar-datelabel-sel-bg.png);
	background-repeat: repeat-x;
}
.dijitCalendarActiveDate .dijitCalendarDateLabel {
	background-image: url(compat/calendar-datelabel-sel-bg.png);
	background-repeat: repeat-x;
}
.dijitCalendarYearLabel {
	background-image: url(compat/calendar-year-bg.png);
}
