.slidev.out {
	-webkit-animation-duration: .6s;
	-webkit-animation-name: slideVOut;
	-webkit-animation-timing-function: ease-out;
}
.slidev.in {
	-webkit-animation-duration: .6s;
	-webkit-animation-name: slideVIn;
	-webkit-animation-timing-function: ease-out;
}
.slidev.out.reverse {
	-webkit-animation-name: slideVOutReverse;
	-webkit-animation-timing-function: ease-in;
}
.slidev.in.reverse {
	-webkit-animation-name: slideVInReverse;
	-webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes slideVOut {
	from { -webkit-transform: translateY(0px); }
	to { -webkit-transform: translateY(-100%); }
}
@-webkit-keyframes slideVIn {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0px); }
}
@-webkit-keyframes slideVOutReverse {
	from { -webkit-transform: translateY(0px); }
	to { -webkit-transform: translateY(100%); }
}
@-webkit-keyframes slideVInReverse {
	from { -webkit-transform: translateY(-100%); }
	to { -webkit-transform: translateY(0px); }
}
