.swirl.out {
	z-index: 0;
	-webkit-animation-duration: .5s;
	-webkit-animation-name: swirlOut;
	-webkit-animation-timing-function: ease-in;
	-webkit-transform-origin: 50% 50%;
}
.swirl.in {
	z-index: -100;
	-webkit-animation-duration: .5s;
	-webkit-animation-name: swirlIn;
	-webkit-animation-timing-function: ease-in;
}
.swirl.out.reverse {
	-webkit-animation-name: swirlOutReverse;
}
@-webkit-keyframes swirlOut {
	from { -webkit-transform: rotate(0deg) scale(1.0); }
	to { -webkit-transform: rotate(-360deg) scale(0.0); }
}
@-webkit-keyframes swirlOutReverse {
	from { -webkit-transform: rotate(0deg) scale(1.0); }
	to { -webkit-transform: rotate(360deg) scale(0.0); }
}
@-webkit-keyframes swirlIn {
	from {}
	to {}
}
