<html>
<head>
<title>Dojo StretchPane test</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
td {
    font-size: smaller;
    font-family: arial, helvetica, sans-serif;
}

</style>
<script src='../../../dojo/dojo.js' djConfig='isDebug:true, parseOnLoad:true'></script>
<script src='../StretchPane.js'></script>
<script type="text/javascript">
// my js stuff
dojo.require("dojox.layout.StretchPane");

dojo.addOnLoad(function() {

    p = dijit.byId("mypane");
    dojo.connect(dojo.byId("butmove"), "onclick", 'onClickMove');
});

function onClickMove() {

    console.log("onClickMove!");

    var x = dojo.byId("myframe_x").value;
    var y = dojo.byId("myframe_y").value;
    var w = dojo.byId("myframe_w").value;
    var h = dojo.byId("myframe_h").value;
    var t = dojo.byId("myframe_t").value;
    var n = dojo.byId("myframe_n").value;

    //if (!x || !y || !w || !h || !t || !n) {
    //    alert("Please fill in all fields");
    //    return;
    //}

    //dojo.debug("x="+x);
    p.move(x, y, w, h, t, n);
}

</script>
</head>
<body>
<h1>StretchPane test</h1>

<div id="mypane" dojoType="dojox.layout.StretchPane"
     style="border: solid black 1px; overflow:hidden"
     x="20" y="60" w="260" h="160"
     >
 <table>
  <tr><td colspan=4 align="center">Enter move params</td></tr>
  <tr>
   <td align="right">x: </td>
   <td><input id="myframe_x" size=3></td>
   <td align="right">y: </td>
   <td><input id="myframe_y" size=3></td>
  </tr>
  <tr>
   <td align="right">w: </td>
   <td><input id="myframe_w" size=3></td>
   <td align="right">h: </td>
   <td><input id="myframe_h" size=3></td>
  </tr>
  <tr>
   <td align="right">move time (ms): </td>
   <td><input id="myframe_t" size=4 value="1000"></td>
   <td align="right">num frames: </td>
   <td><input id="myframe_n" size=4 value="10"></td>
  </tr>
  <tr>
   <td colspan=4 align="center">
     <button id="butmove" onclick="onClickMove">Move!</button>
   </td>
  </tr>
 </table>
</div>

<br><br>

</body>
</html>

