<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>dojox.layout.StretchPane test</title>
	<script src='../../../dojo/dojo.js' djConfig='isDebug:true, parseOnLoad:true'></script>
	<script src='../StretchPane.js'></script>
<script type="text/javascript">
dojo.require("dojox.layout.StretchPane");

dojo.addOnLoad(function() {

    pfix = dijit.byId("panefixed");
    px = dijit.byId("panex");
    py = dijit.byId("paney");
    pxy = dijit.byId("panexy");
});

</script>
</head>
<body>
<h1>StretchPane test</h1>

<div id="panefixed" dojoType="dojox.layout.StretchPane"
     style="border: solid black 1px; overflow:hidden"
     x="20" y="60" w="60" h="40"
     >Fixed pos</div>

<div id="panex" dojoType="dojox.layout.StretchPane"
     style="border: solid blue 1px; overflow:hidden"
     x="90" y="60" w="40+0.2*w" h="40"
     >Stretch horiz</div>

<div id="paney" dojoType="dojox.layout.StretchPane"
     style="border: solid #ff00ff 1px; overflow:hidden"
     x="20" y="120" w="60" h="40+0.1*h"
     >Stretch vert</div>

<div id="panexy" dojoType="dojox.layout.StretchPane"
     style="border: solid #ff0000 1px; overflow:hidden"
     x="90" y="120" w="0.6*w-240" h="-40+0.4*h"
     >Stretch both ways, more elastic than the others</div>

<br><br>

</body>
</html>

