.grid_even_column{
	background-color: #333333;
	color: white;
}
.grid_header .grid_column_3{
	background-color: blue;
}
.grid_even_column{
	background-color: #333333;
	color: white;
}
.grid_header .grid_column_3{
	background-color: blue;
}
