.dojoxFilePicker {
	border: 1px solid #000;
	height: 20em;
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;
}

.dojoxPickerPane {
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
}

.dojoxPickerPane .dijitMenu {
	border: none;
}

.dojoxFileInfoLabel {
	font-weight: bold;
}

/* Background colors to match menus */
.tundra .dojoxPickerPane {
	background-color: #f7f7f7;
}
.tundra .dojoxPickerPane .dijitMenuItemHover {
	color: #000;
	background-color: #e3e3e3;
}
.tundra .dojoxPickerPane .dojoxPickerItemSelected {
	color: #fff;
	background-color: #3559ac;
	font-weight: bold;
}

.soria .dojoxPickerPane {
	background-color: #fff;
}
.soria .dojoxPickerPane .dijitMenuItemHover
{
	color: #000;
	background-color: #e3e3e3;
}
.soria .dojoxPickerPane .dojoxPickerItemSelected {
	color: #243C5F;
	background-color: #d9e6f9;
	font-weight: bold;
}

.nihilo .dojoxPickerPane {
	background-color: #fff;
}
.nihilo .dojoxPickerPane .dijitMenuItemHover {
	color: #000;
	background-color: #e3e3e3;
}
.nihilo .dojoxPickerPane .dojoxPickerItemSelected {
	color: #243C5F;
	background-color: #ffe284;
	font-weight: bold;
}
