@import url("../common/transitions/slide.css");
@import url("../common/transitions/flip.css");
@import url("../common/transitions/fade.css");
@import url("../common/Switch.css");
@import url("../common/domButtons/DomButtonGrayArrow.css");
@import url("../common/domButtons/DomButtonDarkBlueCheck.css");

body {
	visibility: hidden;
}

html.mobile, .mobile body {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.mobile body {
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	background-color: rgb(197,204,211);
	font-family: Helvetica;
	font-size: 17px;
}

/* dojox.mobile.View */
.mblView {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
}

.mblView.out {
}

.mblView.in {
	position: absolute;
}

/* dojox.mobile.Heading */
.mblHeading {
	position: relative;
	width: 100%;
	height: 42px;
	margin: 0px;
	padding: 0px;
	background-color: #889BB3;
	background: -webkit-gradient(linear, left top, left bottom, from(#B0BCCD), to(#6D84A2), color-stop(0.5, #889BB3), color-stop(0.5, #8195AF));
	border-top: 1px solid #CDD5DF;
	border-bottom: 1px solid #2D3642;
	font-family: Helvetica;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 44px;
	text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 1;
}

/* Heading Arrow Button */
.mblArrowButton {
	position: relative;
	float: left;
	height: 42px;
	margin-right: 6px;
}
.mblArrowButtonHead {
	position: absolute;
	top: 11px;
	left: 8px;
	width: 19px;
	height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #3A4655;
	-webkit-transform: scale(.8,1) rotate(45deg);
	background: -webkit-gradient(linear, left top, right bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
}
.mblArrowButtonBody {
	position: absolute;
	top: 6px;
	left: 19px;
	padding: 0px 10px 0px 3px;
	height: 29px;
	border-width: 1px 1px 1px 0px;
	border-style: inset;
	border-color: #9CACC0;
	font-family: Helvetica;
	font-size: 13px;
	color: white;
	line-height: 29px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #5877A2;
	background: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
	-webkit-tap-highlight-color: transparent;
}
.mblArrowButtonNeck {
	position: absolute;
	top: 6px;
	left: 19px;
	width: 4px;
	height: 29px;
	border-width: 1px 0px 1px 0px;
	border-style: inset;
	border-color: #9CACC0;
	background: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
}
.mblArrowButtonSelected .mblArrowButtonHead {
	background: -webkit-gradient(linear, left top, right bottom, from(#7C87A4), to(#263E6C), color-stop(0.5, #394D77), color-stop(0.5, #243B69));
}
.mblArrowButtonSelected .mblArrowButtonBody, .mblArrowButtonSelected .mblArrowButtonNeck {
	background: -webkit-gradient(linear, left top, left bottom, from(#7C87A4), to(#263E6C), color-stop(0.5, #394D77), color-stop(0.5, #243B69));
}

/* ToolBarButton */
.mblToolbarButton {
	float: left;
	position: relative;
	margin: 6px;
	padding: 0px 10px;
	height: 29px;
	border: 1px inset #9CACC0;
	font-family: Helvetica;
	font-size: 13px;
	font-weight: bold;
	color: white;
	line-height: 29px;
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-tap-highlight-color: transparent;
}
div.mblToolbarButtonDomButton {
	width: 11px;
}

/* dojox.mobile.RoundRect */
.mblRoundRect {
	margin: 7px 9px 16px 9px;
	padding: 8px;
	border: 1px solid #ADAAAD;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: white;
}
.mblRoundRect.mblShadow {
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* dojox.mobile.EdgeToEdgeCategory */
.mblEdgeToEdgeCategory {
	position: relative;
	height: 22px;
	margin: 0px;
	padding: 0px 10px;
	border-top: 1px solid #A4B0B9;
	border-bottom: 1px solid #979DA3;
	background: -webkit-gradient(linear, left top, left bottom, from(#8F9EA9), to(#B7C0C7));
	font-family: Helvetica;
	font-weight: bold;
	font-size: 16px;
	color: white;
	line-height: 22px;
	text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* dojox.mobile.RoundRectCategory */
.mblRoundRectCategory {
	color: #4C566C;
	padding: 18px 0px 0px 20px;
	margin: 0px;
	text-shadow: rgba(255, 255, 255, 1) 0px 1px 0px;
	font-family: Helvetica;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* dojox.mobile.RoundRectList */
.mblRoundRectList {
	margin: 7px 9px 16px 9px;
	padding: 0px;
	border: 1px solid #ADAAAD;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: white;
	position: relative; /* IE needs this */
}

/* dojox.mobile.EdgeToEdgeList */
.mblEdgeToEdgeList {
	padding: 0px;
	background-color: white;
	position: relative; /* IE needs this */
	margin: 0px; /* IE needs this */
}

/* dojox.mobile.ListItem */
.mblListItem {
	list-style-type: none;
	height: 43px;
	border-bottom: 1px solid #ADAAAD;
	line-height: 43px;
	font-weight: bold;
	position: relative;
	color: black;
	vertical-align: bottom; /* To avoid IE6 LI bug */
	padding-left: 8px;
}
.mblListItemIcon {
	position: absolute;
	top: 7px;
}
.mblListItem.mblVariableHeight {
	line-height: normal;
	height: auto;
	padding: 11px 6px 10px 6px;
}
.mblItemSelected {
	background-color: #048BF4;
	background: -webkit-gradient(linear, left top, left bottom, from(#048BF4), to(#005CE5));
}
.mblListItemTextBox {
	padding-right: 28px;
}
.mblListItemTextBoxSelected {
	background-color: #048BF4;
}
.mblRoundRectList .mblListItem:first-child {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
}
.mblRoundRectList .mblListItem:last-child {
	border-bottom-width: 0px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
}
.mblEdgeToEdgeList .mblListItem:last-child {
	border-bottom-color: #707C84;
}
.mblListItem a.mblListItemAnchor {
	background-position: 9px 7px;
	display: block;
	padding-left: 40px;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
.mblListItem a.mblListItemAnchorNoIcon {
	padding-left: 10px;
}
.mblItemSelected a.mblListItemAnchor {
	color: white;
}
.mblListItem a.mblListItemAnchorHasRightButton {
	padding-right: 40px;
}

.mblListItem .mblDomButton {
	position: absolute;
	top: 50%;
	right: 7px;
	margin-top: -15px;
	line-height: normal;
}
.mblItemSelected .mblDomButton DIV {
	border-color: white;
}

.mblRightText {
	position: absolute;
	top: 12px;
	right: 30px;
	color: #324F85;
	line-height: normal;
}
.mblListItem .mblRightButtonContainer {
	position: absolute;
	top: 50%;
	right: 12px;
}
.mblListItem .mblRightButton {
	position: absolute;
	top: -50%;
}
.mblItemChecked {
	color: #314E84;
}

/* Switch */
.mblItemSwitch {
	top: 8px;
}
.mblSwitchBg {
	-webkit-border-radius: 5px;
}
.mblSwitchBgRight {
	background: -webkit-gradient(linear, left top, left bottom, from(#CECECE), to(#FDFDFD), color-stop(0.5, #EEEEEE), color-stop(0.5, #F8F8F8));
}
.mblSwitchKnob {
	background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#FAFAFA));
	-webkit-border-radius: 5px;
}

/* Progress Indicator */
.mblProgContainer {
	position: absolute;
	width: 36px;
	height: 36px;
	top: 180px;
	left: 50%;
	margin: -18px 0px 0px -18px;
}
.mblProg {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 11px;
	font-size: 1px;
	height: 4px;
	overflow: hidden;
	-webkit-transform-origin: 0 2px;
	background-color: #C0C0C0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.mblProg0 {
	-webkit-transform: translate(18px,10px) rotate(-90deg);
}
.mblProg1 {
	-webkit-transform: translate(22px,11px) rotate(-60deg);
}
.mblProg2 {
	-webkit-transform: translate(25px,14px) rotate(-30deg);
}
.mblProg3 {
	-webkit-transform: translate(26px,18px) rotate(0deg);
}
.mblProg4 {
	-webkit-transform: translate(25px,22px) rotate(30deg);
}
.mblProg5 {
	-webkit-transform: translate(22px,25px) rotate(60deg);
}
.mblProg6 {
	-webkit-transform: translate(18px,26px) rotate(90deg);
}
.mblProg7 {
	-webkit-transform: translate(14px,25px) rotate(120deg);
}
.mblProg8 {
	-webkit-transform: translate(11px,22px) rotate(150deg);
}
.mblProg9 {
	-webkit-transform: translate(10px,18px) rotate(180deg);
}
.mblProg10 {
	-webkit-transform: translate(11px,14px) rotate(210deg);
}
.mblProg11 {
	-webkit-transform: translate(14px,11px) rotate(240deg);
}

/* Button Colors */
.mblColorBlue {
	background-color: #366EDF;
	background: -webkit-gradient(linear, left top, left bottom, from(#7A9DE9), to(#2362DD), color-stop(0.5, #366EDF), color-stop(0.5, #215FDC));
}

/* Default Button Colors */
.mblColorDefault { /* Dark Blue */
	background-color: #5877A2;
	background: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
}

.mblColorDefaultSel { /* More Dark Blue */
	background-color: #394D77;
	background: -webkit-gradient(linear, left top, left bottom, from(#7C87A4), to(#263E6C), color-stop(0.5, #394D77), color-stop(0.5, #243B69));
}
