/* dojox.mobile.TabBar */
.mblTabBar {
  position: relative;
  height: 48px;
  margin: 0px;
  padding: 0px;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d2d2d), to(#000000), color-stop(0.5, #141414), color-stop(0.5, #000000));
  border-top: 1px solid #000000;
  color: white;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.mblTabBar .mblTabBarButton {
  position: relative;
  list-style-type: none;
  float: left;
}
.mblTabBar .mblTabBarButton.mblTabButtonSelected {
  background-color: #404040;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#242424), color-stop(0.5, #353535), color-stop(0.5, #242424));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.mblTabBarNoIcons {
  height: 34px;
}
.mblTabBarNoText {
  height: 34px;
}
/* dojox.mobile.TabBarButton */
.mblTabBarButtonAnchor {
  display: block;
  text-decoration: none;
}
.mblTabBarButtonDiv {
  position: relative;
  height: 34px;
  width: 29px;
  left: 50%;
}
.mblTabBarButtonDivInner {
  left: -50%;
}
.mblTabBarButtonIcon {
  position: absolute;
  left: 0px;
  top: 2px;
  -webkit-transform: none;
}
.mblTabBarButtonTextBox {
  color: #979797;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 11px;
}
.mblTabBarNoIcons .mblTabBarButtonDiv {
  display: none;
}
.mblTabBarNoIcons .mblTabBarButtonTextBox {
  line-height: 34px;
  font-size: 20px;
}
.mblTabButton {
  float: left;
  position: relative;
  list-style-type: none;
  width: 100px;
  text-align: center;
  height: 28px;
  margin-right: 0px;
  border-width: 1px 1px 1px 0px;
  border-style: inset;
  border-color: #9cacc0;
  border-right-color: #5e708a;
  font-family: Helvetica;
  font-size: 13px;
  color: white;
  cursor: pointer;
  line-height: 29px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#abb9ca), to(#788da9), color-stop(0.5, #8297af), color-stop(0.5, #768ba7));
  -webkit-tap-highlight-color: transparent;
}
.mblTabButton .mblTabBarButtonAnchor {
  height: 28px;
}
.mblTabButton .mblTabBarButtonDiv {
  display: none;
  height: auto;
}
.mblTabButton:first-child {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-left-width: 1px;
}
.mblTabButton:last-child {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-right-color: #9cacc0;
}
.mblTabButton IMG {
  position: static;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  -webkit-transform: none;
}
.mblTabButtonSelected .mblTabBarButtonTextBox {
  color: white;
}
.mblTabButtonSelected.mblTabButton {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#abb9ca), to(#788da9), color-stop(0.5, #8297af), color-stop(0.5, #768ba7));
}
.mblTabButtonHighlighted.mblTabButton {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#abb9ca), to(#788da9), color-stop(0.5, #8297af), color-stop(0.5, #768ba7));
}
.mblTabButtonImgDiv {
  display: none;
  position: static;
  margin-left: 0px;
  height: auto;
}
.mblTabPanelHeader {
  position: relative;
  height: 39px;
  margin: 0px;
  padding: 3px 0px 0px 0px;
  background-color: #889bb3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b0bccd), to(#6d84a2), color-stop(0.5, #889bb3), color-stop(0.5, #8195af));
  border-top: 1px solid #CDD5DF;
  border-bottom: 1px solid #2d3642;
  font-family: Helvetica;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 44px;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mblTabPanelHeader .mblTabButton.mblTabButtonSelected {
  background-color: #5877a2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8ea4c1), to(#4a6c9b), color-stop(0.5, #5877a2), color-stop(0.5, #476999));
}
.mblTabPanelHeader .mblTabButtonDomButton {
  width: 43px;
}
.mblTabPanelHeader .mblDomButton {
  left: 8px;
}
