/* dojox.mobile.TabBar */
.mblTabBar {
	position: relative;
	height: 48px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #000000;
	background: -webkit-gradient(linear, left top, left bottom, from(#2D2D2D), to(#000000), color-stop(0.5, #141414), color-stop(0.5, #000000));
	border-top: 1px solid #000000;
	color: white;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

.mblTabBar .mblTabBarButton {
	position: relative;
	list-style-type: none;
	float: left;
}

/* dojox.mobile.TabBarButton */
.mblTabBarButton {
}
.mblTabBarButtonAnchor {
	display: block;
	text-decoration: none;
}
.mblTabButton .mblTabBarButtonAnchor {
	height: 28px;
}
.mblTabBarButtonDiv {
	position: relative;
	height: 34px;
	width: 29px;
	left: 50%;
}
.mblTabButton .mblTabBarButtonDiv {
	display: none;
}
.mblTabBarButtonDivInner {
	left: -50%;
}
.mblTabBarButtonIcon {
	position: absolute;
	left: 0px;
	top: 2px;
}
.mblTabBar .mblTabBarButton.mblTabButtonSelected {
	background-color: #404040;
	background: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#242424), color-stop(0.5, #353535), color-stop(0.5, #242424));
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.mblTabBarButtonTextBox {
	color: #979797;
	font-family: "Helvetica Neue", Helvetica;
	font-size: 11px;
}
.mblTabButtonSelected .mblTabBarButtonTextBox {
	color: white;
}

.mblTabButton {
	float: left;
	position: relative;
	list-style-type: none;
	width: 100px;
	text-align: center;
	height: 28px;
	border-width: 1px 1px 1px 0px;
	border-style: inset;
	border-color: #9CACC0;
	border-right-color: #5E708A;
	font-family: Helvetica;
	font-size: 13px;
	color: white;
	cursor: pointer;
	line-height: 29px;
	background: -webkit-gradient(linear, left top, left bottom, from(#ABB9CA), to(#788DA9), color-stop(0.5, #8297AF), color-stop(0.5, #768BA7));
	-webkit-tap-highlight-color: transparent;
}
.mblTabButton:first-child {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-left-width: 1px;
}
.mblTabButton:last-child {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-right-color: #9CACC0;
}
.mblTabPanelHeader .mblTabButton.mblTabButtonSelected {
	background-color: #5877A2;
	background: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
}
.mblTabButtonImgDiv {
	display: none;
}

.mblTabPanelHeader {
	position: relative;
	width: 100%;
	height: 39px;
	margin: 0px;
	padding: 3px 0px 0px 0px;
	background-color: #889BB3;
	background: -webkit-gradient(linear, left top, left bottom, from(#B0BCCD), to(#6D84A2), color-stop(0.5, #889BB3), color-stop(0.5, #8195AF));
	border-top: 1px solid #CDD5DF;
	border-bottom: 1px solid #2D3642;
	font-family: Helvetica;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 44px;
	text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mblTabPanelHeader .mblTabButtonDomButton {
	width: 43px;
}
.mblTabPanelHeader .mblDomButton {
	left: 8px;
}
