@import "../common/domButtons/DomButtonWhiteCross-compat.css";
/* dojox.mobile.TabBar */
.dj_ie6 .mblTabBar .mblTabBarButton {
  display: inline;
  /* IE bug*/

}
/* barType=tabBar */
.mblTabBarTabBar {
  background-image: none;
  background-color: #000000;
}
/* barType=segmentedControl */
.mblTabBarSegmentedControl {
  background-image: url(compat/heading-bg.png);
}
.mblTabBarSegmentedControl .mblTabBarButton {
  background-image: url(compat/tab-seg-button-bg.png);
}
.mblTabBarSegmentedControl .mblTabBarButtonSelected {
  background-image: url(compat/tab-seg-sel-button-bg.png);
}
/* barType=plainTab */
.mblTabBarPlainTab {
  background-image: url(compat/heading-bg.png);
}
.mblTabBarPlainTab .mblTabBarButtonSelected {
  background-image: url(compat/tab-seg-sel-button-bg.png);
}
/* barType=slimTab */
.mblTabBarSlimTab {
  background-image: url(compat/tab-slim-bar-bg.png);
}
/* barType=flatTab */
.mblTabBarFlatTab {
  /*	background-image: none;*/

}
/* barType=tallTab */
.mblTabBarTallTab {
  background-image: url(compat/tab-tall-bar-bg.png);
}
.mblTabBarTallTab .mblTabBarButtonSelected {
  background-color: #8c8e8c;
}
