@import url("../common/domButtons/DomButtonGrayPlus.css");

@import url("../common/domButtons/DomButtonGrayMinus.css");
/* dojox.mobile.ValuePicker */
.mblValuePicker {
  height: 126px;
  float: left;
  border-left: solid 3px #000000;
  border-right: solid 3px #000000;
  border-radius: 3px;
}
/* dojox.mobile.ValuePickerSlot */
.mblValuePicker > .mblValuePickerSlot {
  float: left;
  margin: 0 0;
  border-left: solid 2px #000000;
  border-right: solid 2px #000000;
}
.mblValuePickerSlotButton {
  position: relative;
  height: 38px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #313137), color-stop(0.16, #dfe0e4), color-stop(0.35, #fbfcfc), color-stop(0.5, #fbfcfc), color-stop(0.65, #fbfcfc), color-stop(0.84, #dfe0e4), color-stop(1, #313137));
}
.mblValuePickerSlotPlusButton {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.mblValuePickerSlotMinusButton {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.mblValuePickerSlotButtonSelected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7c87a4), to(#263e6c), color-stop(0.5, #394d77), color-stop(0.5, #243b69));
}
.mblValuePickerSlotIcon {
  top: 5px;
  margin: 0 auto;
}
.mblValuePickerSlotInputArea {
  position: relative;
  height: 48px;
  border-top: 1px solid #7b797b;
  border-bottom: 1px solid #c6c3c6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#adaead), to(#e7e3e7), color-stop(0.1, #d6d7d6), color-stop(0.5, #f7f7f7), color-stop(0.9, #f7f3f7));
}
.mblValuePickerSlotInput {
  display: block;
  width: 90%;
  height: 90%;
  margin: 5% auto;
  text-align: center;
  border-style: none;
  background-color: transparent;
  font: bold 24px/44px Helvetica, sans-serif;
}
/* dojox.mobile.ValuePickerTimePicker */
.mblValuePickerTimePicker {
  border-left: solid 3px #000000;
  border-right: solid 0 #000000;
  border-radius: 3px;
}
.mblValuePickerTimePicker > .mblToolBarButton {
  top: 45px;
}
.mblValuePickerTimePicker > .mblValuePickerTimePickerMinuteSlot {
  border-right: solid 5px #000000;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
