.mobile-body-styles () {
	background-color: rgb(197,204,211);
	font-family: Helvetica;
	font-size: 17px;
}

.mblView-styles () {
}

.mblHeading-styles () {
	padding: 0px;
	height: 42px;
	background-color: #889BB3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#B0BCCD), to(#6D84A2), color-stop(0.5, #889BB3), color-stop(0.5, #8195AF));
	border-top: 1px solid #CDD5DF;
	border-bottom: 1px solid #2D3642;
	color: white;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 44px;
	text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
	z-index: 1;
}
.mblArrowButton-styles () {
	height: 42px;
	margin: 0px 0px 0px 6px;
}
.mblArrowButtonHead-styles () {
	top: 11px;
	left: 8px;
	width: 19px;
	height: 19px;
	border: 1px solid #3A4655;
	-webkit-transform: scale(.8,1) rotate(45deg);
	background-image: -webkit-gradient(linear, left top, right bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
}
.mblArrowButtonBody-styles () {
	top: 6px;
	left: 19px;
	padding: 0px 10px 0px 3px;
	height: 29px;
	border-width: 1px 1px 1px 0px;
	border-style: inset;
	border-color: #9CACC0;
	font-family: Helvetica;
	font-size: 13px;
	color: white;
	line-height: 29px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #5877A2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
}
.mblArrowButtonNeck-styles () {
	top: 6px;
	left: 19px;
	width: 4px;
	height: 29px;
	border-width: 1px 0px 1px 0px;
	border-style: inset;
	border-color: #9CACC0;
	background-color: #5877A2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
}
.mblArrowButtonSelected-styles () {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7C87A4), to(#263E6C), color-stop(0.5, #394D77), color-stop(0.5, #243B69));
}

.mblToolbarButton-styles () {
	margin: 6px;
	padding: 0px 10px;
	height: 29px;
	border: 1px inset #9CACC0;
	font-family: Helvetica;
	font-size: 13px;
	font-weight: bold;
	color: white;
	line-height: 29px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.mblRoundRect-styles () {
	margin: 7px 9px 16px 9px;
	padding: 8px;
	border: 1px solid #ADAAAD;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: white;
}
.mblRoundRectShadowBox-styles () {
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.mblEdgeToEdgeCategory-styles () {
	margin: 0px;
	padding: 0px 10px;
	height: 22px;
	border-top: 1px solid #A4B0B9;
	border-bottom: 1px solid #979DA3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8F9EA9), to(#B7C0C7));
	font-family: Helvetica;
	font-size: 16px;
	font-weight: bold;
	color: white;
	line-height: 22px;
	text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
}

.mblRoundRectCategory-styles () {
	padding: 18px 0px 0px 20px;
	margin: 0px;
	font-family: Helvetica;
	font-size: 16px;
	color: #4C566C;
	text-shadow: rgba(255, 255, 255, 1) 0px 1px 0px;
}

.mblRoundRectList-styles () {
	margin: 7px 9px 16px 9px;
	padding: 0px;
	border: 1px solid #ADAAAD;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: white;
}
.mblRoundRectList-FirstListItem-styles () {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
}
.mblRoundRectList-LastListItem-styles () {
	border-bottom-width: 0px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
}

.mblEdgeToEdgeList-styles () {
	margin: 0px;
	padding: 0px;
	background-color: white;
}
.mblEdgeToEdgeList-LastListItem-styles () {
	border-bottom-color: #707C84;
}

.mblListItem-styles () {
	padding: 0px 0px 0px 8px;
	height: 43px;
	border-bottom: 1px solid #ADAAAD;
	font-weight: bold;
	color: black;
	line-height: 43px;
}
@listitem-icon-top: 7px;
@listitem-anchor-background-position: 9px 7px;
@listitem-anchor-padding-left: 40px;
@listitem-anchor-noicon-padding-left: 10px;
@listitem-anchor-rightbutton-padding-right: 40px;
@listitem-selected-background-color: #048BF4;
@listitem-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#048BF4), to(#005CE5));
@listitem-selected-anchor-color: white;
@listitem-selected-dombutton-border-color: white;
@listitem-textbox-selected-background-color: #048BF4;
@listitem-righttext-top: 12px;
@listitem-righttext-color: #324F85;
@listitem-checked-color: #314E84;
@listitem-subtext-font-size: inherit; // default
@listitem-subtext-color: inherit; // default
@listitem-selected-subtext-color: inherit; // default

@switch-item-top: 8px;
@switch-bg-border-radius: 5px;
@switch-bg-left-background-image: -webkit-gradient(linear, left top, left bottom, from(#2859B1), to(#75ACFB), color-stop(0.5, #3F84EB), color-stop(0.5, #4C8EEE));
@switch-bg-right-background-image: -webkit-gradient(linear, left top, left bottom, from(#CECECE), to(#FDFDFD), color-stop(0.5, #EEEEEE), color-stop(0.5, #F8F8F8));
@switch-knob-background-image: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#FAFAFA));
@switch-knob-border-radius: 5px;
 
@color-blue-color: inherit; // default
@color-blue-background-color: #366EDF;
@color-blue-background-image: -webkit-gradient(linear, left top, left bottom, from(#7A9DE9), to(#2362DD), color-stop(0.5, #366EDF), color-stop(0.5, #215FDC));
@color-default-color: inherit; // default
@color-default-background-color: #5877A2;
@color-default-background-image: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
@color-default-sel-color: inherit; // default
@color-default-sel-background-color: #394D77;
@color-default-sel-background-image: -webkit-gradient(linear, left top, left bottom, from(#7C87A4), to(#263E6C), color-stop(0.5, #394D77), color-stop(0.5, #243B69));

@button-font-size: 13px;
@button-background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#CECECE), color-stop(0.5, #F8F8F8), color-stop(0.5, #EEEEEE));
@button-border-radius: 5px;
@button-selected-color: black;
@button-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#BFBFBF), color-stop(0.5, #EBEBEB), color-stop(0.5, #DEDEDE));
@button-blue-selected-color: white;
@button-blue-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
@button-red-selected-color: white;
@button-red-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#C1A48E), to(#9B6C4A), color-stop(0.5, #A27758), color-stop(0.5, #996947));
@button-disabled-background-image: none;

@checkbox-background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#CECECE), color-stop(0.5, #F8F8F8), color-stop(0.5, #EEEEEE));
@checkbox-border-radius: 5px;
@checkbox-transform: translateY(0.45em);
@checkbox-checked-background-image: -webkit-gradient(linear, left top, left bottom, from(#7A9DE9), to(#2362DD), color-stop(0.5, #366EDF), color-stop(0.5, #215FDC));
@checkbox-checked-after-border-color: white;
@checkbox-selected-border-color: #9CACC0;
@checkbox-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#BFBFBF), color-stop(0.5, #EBEBEB), color-stop(0.5, #DEDEDE));
@checkbox-checked-selected-border-color: #9CACC0;
@checkbox-checked-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
@checkbox-checked-selected-after-border-color: #9CACC0;

@combobox-popup-box-shadow: 0px 0px 50px black;
@combobox-popup-border-radius: 0px;
@combobox-menu-border-radius: 0px;
@combobox-menu-background-color: white;
@combobox-menuitem-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#048BF4), to(#005CE5));
@combobox-menuitem-border-color: #ffffff;
@combobox-menuitem-color: inherit;

@iconcontainer-padding: 0px 0px 40px 0px;
@iconcontainer-margin: 20px 0px 0px 10px;
@iconcontainer-background-color: transparent; // default
@iconcontainer-terminator-height: 20px;
@iconitem-sub-color: inherit; // default
@iconitem-area-width: 74px;
@iconitem-area-margin-bottom: 10px;
@iconitem-area-color: inherit; // default
@iconitem-area-img-top: 0px;
@iconitem-area-img-left: 6px;
@iconitem-heading-height: 25px;
@iconitem-heading-font-size: 14px;
@iconitem-heading-line-height: 26px;

@radiobutton-background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#CECECE), color-stop(0.5, #F8F8F8), color-stop(0.5, #EEEEEE));
@radiobutton-border-radius: 0.5em;
@radiobutton-transform: translateY(0.45em);
@radiobutton-checked-background-image: -webkit-gradient(linear, left top, left bottom, from(#7A9DE9), to(#2362DD), color-stop(0.5, #366EDF), color-stop(0.5, #215FDC));
@radiobutton-checked-after-border-color: white;
@radiobutton-checked-selected-border-color: #9CACC0;
@radiobutton-checked-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
@radiobutton-checked-selected-after-border-color: white;

@slider-background-image: -webkit-gradient(linear, left top, left bottom, from(#ABABAB), to(#FEFEFE));
@slider-border-radius: 8px;
@slider-progressbar-background-image: -webkit-gradient(linear, left top, left bottom, from(#0D48A8), to(#68A6F8));
@slider-progressbar-border-radius: 8px;
@slider-handle-background-image: -webkit-gradient(linear, left top, left bottom, from(#A6A6A6), to(#FCFCFC));
@slider-handle-border-radius: 10px;

@tabbar-background-color: #000000;
@tabbar-background-image: -webkit-gradient(linear, left top, left bottom, from(#2D2D2D), to(#000000), color-stop(0.5, #141414), color-stop(0.5, #000000));

@tabbarbutton-anchor-height: 28px;
@tabbarbutton-div-display: none;
@tabbarbutton-div-height: auto; // default
@tabbarbutton-icon-left: 0px;
@tabbarbutton-icon-top: 2px;
@tabbarbutton-icon-transform: none; // default
@tabbarbutton-width: 100px;
@tabbarbutton-height: 28px;
@tabbarbutton-margin-right: 0px; // default
@tabbarbutton-border-width: 1px 1px 1px 0px;
@tabbarbutton-border-style: inset;
@tabbarbutton-border-color: #9CACC0;
@tabbarbutton-border-right-color: #5E708A;
@tabbarbutton-cursor: pointer;
@tabbarbutton-line-height: 29px;
@tabbarbutton-background-color: transparent; // default
@tabbarbutton-background-image: -webkit-gradient(linear, left top, left bottom, from(#ABB9CA), to(#788DA9), color-stop(0.5, #8297AF), color-stop(0.5, #768BA7));
@tabbarbutton-first-border-top-left-radius: 5px;
@tabbarbutton-first-border-bottom-left-radius: 5px;
@tabbarbutton-first-border-left-width: 1px;
@tabbarbutton-last-border-top-right-radius: 5px;
@tabbarbutton-last-border-bottom-right-radius: 5px;
@tabbarbutton-last-border-right-color: #9CACC0;
@tabbarbutton-selected-background-color: transparent; // default
@tabbarbutton-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#ABB9CA), to(#788DA9), color-stop(0.5, #8297AF), color-stop(0.5, #768BA7)); // default
@tabbarbutton-highlighted-background-color: transparent; // default
@tabbarbutton-highlighted-background-image: -webkit-gradient(linear, left top, left bottom, from(#ABB9CA), to(#788DA9), color-stop(0.5, #8297AF), color-stop(0.5, #768BA7)); // default
.mblTabPanelHeader-TabButton-styles () {
}
@tabpanelheader-tabbarbutton-selected-background-color: #5877A2;
@tabpanelheader-tabbarbutton-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
@tabbarbutton-imgdiv-display: none;
@tabbarbutton-imgdiv-position: static; // default
@tabbarbutton-imgdiv-margin-left: 0px; // default
@tabbarbutton-imgdiv-height: auto; // default
@tabbarbutton-img-position: static; // default
@tabbarbutton-img-left: 0px; // default
@tabbarbutton-img-top: 0px; // default 
@tabbarbutton-img-margin-top: 0px; // default
@tabbarbutton-img-transform: none; // default
@tabpanelheader-height: 39px;
@tabpanelheader-padding: 3px 0px 0px 0px;
@tabpanelheader-background-color: #889BB3;
@tabpanelheader-background-image: -webkit-gradient(linear, left top, left bottom, from(#B0BCCD), to(#6D84A2), color-stop(0.5, #889BB3), color-stop(0.5, #8195AF));
@tabpanelheader-border-bottom: 1px solid #2D3642;
@tabpanelheader-line-height: 44px;
@tabpanelheader-text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;

@textarea-border-radius: 5px;

@textbox-border-radius: 5px;

@togglebutton-font-size: 13px;
@togglebutton-background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#CECECE), color-stop(0.5, #F8F8F8), color-stop(0.5, #EEEEEE));
@togglebutton-border-radius: 5px;
@togglebutton-checked-color: white;
@togglebutton-checked-background-image: -webkit-gradient(linear, left top, left bottom, from(#7A9DE9), to(#2362DD), color-stop(0.5, #366EDF), color-stop(0.5, #215FDC));
@togglebutton-checked-after-border-color: white;
@togglebutton-selected-color: black;
@togglebutton-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#BFBFBF), color-stop(0.5, #EBEBEB), color-stop(0.5, #DEDEDE));
@togglebutton-checked-selected-color: white;
@togglebutton-checked-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#8EA4C1), to(#4A6C9B), color-stop(0.5, #5877A2), color-stop(0.5, #476999));
@togglebutton-checked-selected-after-border-color: white;
