/* mbl.widget.Heading */
.mblHeading {
	background-image: url(compat/heading-bg.png);
}

/* Heading Arrow Button */
.mblArrowButtonHead {
	position: absolute;
	top: 0px;
	left: 8px;
	width: 19px;
	height: 29px;
	background-image: url(compat/arrow-button-head.png);
}
.mblArrowButtonBody {
	background-image: url(compat/arrow-button-bg.png);
}

/* Round Corner */
.mblRoundCorner {
	background-color: white;
	height: 1px;
	font-size: 1px;
	overflow: hidden;
	border-style: solid;
	border-color: #ADAAAD;
	border-width: 0px 1px;
}
.mblRoundRectContainer {
	padding: 3px 8px;
	background-color: white;
	border-style: solid;
	border-color: #ADAAAD;
	border-width: 0px 1px;
}
.mblRoundRectList .mblRoundRectContainer {
	margin: 0px;
	padding: 0px;
}
.mblRoundCorner0T {
	height: 0px;
}
.mblRoundCorner1T {
	background-color: #ADAAAD;
	margin: 0px 5px;
}
.mblRoundCorner2T {
	margin: 0px 2px;
	border-width: 0px 3px;
}
.mblRoundCorner3T {
	margin: 0px 1px;
	border-width: 0px 2px;
}
.mblRoundCorner4T {
	margin: 0px 1px;
}
.mblRoundCorner5T {
	margin: 0px 1px;
}

.mblRoundCorner0B {
	height: 0px;
}
.mblRoundCorner1B {
	margin: 0px 1px;
}
.mblRoundCorner2B {
	margin: 0px 1px;
}
.mblRoundCorner3B {
	margin: 0px 1px;
	border-width: 0px 2px;
}
.mblRoundCorner4B {
	margin: 0px 2px;
	border-width: 0px 3px;
}
.mblRoundCorner5B {
	background-color: #ADAAAD;
	margin: 0px 5px;
}

/* mbl.widget.ListItem */
li.mblListItem span.mblArrow {
	border-style: none;
	width: 9px;
	height: 13px;
	background-image: url(compat/gray-arrow.png);
}
li.mblItemSelected span.mblArrow {
	background-image: url(compat/white-arrow.png);
}

/* Switch */
.mblSwitchInner {
	width: 100px;
}
.mblSwitchBg {
	border: none;
}
.mblSwitchBgLeft {
	width: 89px;
	background: none;
}
.mblSwitchBgRight {
	width: 89px;
	left: 58px;
	background: none;
}
.mblSwitchKnobContainer {
	position: relative;
	left: 53px;
	width: 41px;
	height: 26px;
}
.mblSwitchKnob {
	position: relative;
	top: 0px;
	left: 0px;
	width: auto;
	height: 21px;
	background-image: url(compat/switch-knob-bg.png);
	border-width: 0px 1px;
	-moz-border-radius: 0px;
}
.mblSwitchCorner {
	position: relative;
	height: 1px;
	font-size: 1px;
	overflow: hidden;
	border-style: solid;
	border-color: #878787;
}
.mblSwitchCorner1T {
	background-color: #848684;
	margin: 0px 4px;
	border-width: 0px;
}
.mblSwitchCorner2T {
	background-color: #C0C0C0;
	margin: 0px 2px;
	border-width: 0px 2px;
}
.mblSwitchCorner3T {
	background-color: #C6C7C6;
	margin: 0px 1px;
	border-width: 0px 1px;
}

.mblSwitchCorner1B {
	background-color: #FBFBFB;
	margin: 0px 1px;
	border-width: 0px 1px;
}
.mblSwitchCorner2B {
	background-color: #FBFBFB;
	margin: 0px 2px;
	border-width: 0px 2px;
}
.mblSwitchCorner3B {
	background-color: #878787;
	margin: 0px 4px;
	border-width: 0px;
}

.mblSwitchBgLeft .mblSwitchCorner1T {
	border-width: 0px 2px;
	background-color: #093889;
}
.mblSwitchBgLeft .mblSwitchCorner2T {
	background-color: #285AB2;
}
.mblSwitchBgLeft .mblSwitchCorner3T {
	background-color: #285AB2;
}

.mblSwitchBgLeft .mblSwitchCorner1B {
	background-color: #66A1F6;
}
.mblSwitchBgLeft .mblSwitchCorner2B {
	background-color: #66A1F6;
}
.mblSwitchBgLeft .mblSwitchCorner3B {
	background-color: #5289D7;
}

.mblSwitchText {
	height: 21px;
	line-height: 21px;
}
.mblSwitchTextLeft {
	background-image: url(compat/switch-blue-bg.png);
	border-left: 1px solid #848684;
}
.mblSwitchTextRight {
	background-image: url(compat/switch-gray-bg.png);
	left: 35px;
	border-right: 1px solid #848684;
}

/* Icon Content Heading */
.mblIconContentHeading {
	background-image: url(compat/icon-content-heading-bg.png);
}

/* dojox.mobile.Button */
.mblButton {
	background-image: url(compat/blue-button-bg.png);
}

/* Tab Container */
.mblTabPanelHeader {
	background-image: url(compat/heading-bg.png);
}
.mblTabButton {
	background-image: url(compat/tab-button-bg.png);
}
.mblTabButtonSelected {
	background-image: url(compat/tab-sel-button-bg.png);
}
*html .mblTabButton { /* IE6 hack */
	behavior: expression(
		(function(el){
			if(!el.previousSibling)
				el.style.borderWidth = "1px";
			el.style.behavior = "none";
		})(this)
	);
}
