@import url("../common/transitions/slide.css");
@import url("../common/transitions/flip.css");
@import url("../common/transitions/fade.css");
@import url("../common/Switch.css");
@import url("../common/domButtons/DomButtonGrayArrow.css");
@import url("../common/domButtons/DomButtonWhiteCheck.css");

body {
	visibility: hidden;
}

html.mobile, .mobile body {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.mobile body {
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	background-color: black;
	font-family: Helvetica;
	font-size: 17px;
}

/* dojox.mobile.View */
.mblView {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	color: white;
}

.mblView.out {
}

.mblView.in {
	position: absolute;
}

/* dojox.mobile.Heading */
.mblHeading {
	position: relative;
	width: 100%;
	height: 25px;
	margin: 0px;
	padding: 0px 0px 0px 4px;
	background-color: #8C8A8C;
	background: -webkit-gradient(linear, left top, left bottom, from(#9C9E9C), to(#848284));
	border-top: 1px solid #CDD5DF;
	border-bottom: 1px solid #2D3642;
	font-family: Helvetica;
	font-size: 14px;
	color: white;
	text-align: center;
	line-height: 23px;
	text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Heading Arrow Button */
.mblArrowButton {
	position: relative;
	float: left;
	height: 25px;
	margin-right: 6px;
}
.mblArrowButtonHead {
	position: absolute;
	top: 5px;
	left: 9px;
	width: 19px;
	height: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: #3F3E3E;
	-webkit-transform: scale(.8,1) rotate(45deg);
	background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#7F7F7F), color-stop(0.5, #ADADAD), color-stop(0.5, #909090));
}
.mblArrowButtonBody {
	position: absolute;
	top: 0px;
	left: 19px;
	padding: 0px 10px 0px 3px;
	height: 23px;
	border-width: 1px 1px 1px 0px;
	border-style: inset;
	border-color: #3F3E3E;
	font-family: Helvetica;
	font-size: 13px;
	color: white;
	line-height: 23px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	background-color: #ADADAD;
	background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#7F7F7F), color-stop(0.5, #ADADAD), color-stop(0.5, #909090));
	-webkit-tap-highlight-color: transparent;
}
.mblArrowButtonNeck {
	position: absolute;
	top: 0px;
	left: 19px;
	width: 4px;
	height: 23px;
	border-width: 1px 0px 1px 0px;
	border-style: inset;
	border-color: #3F3E3E;
	background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#7F7F7F), color-stop(0.5, #ADADAD), color-stop(0.5, #909090));
}
.mblArrowButtonSelected .mblArrowButtonHead {
	background: -webkit-gradient(linear, left top, left bottom, from(#AD7500), to(#FFAA00), color-stop(0.06, #FFB200), color-stop(0.5, #FFC700));
}
.mblArrowButtonSelected .mblArrowButtonBody, .mblArrowButtonSelected .mblArrowButtonNeck {
	background-color: #FFC700;
	background: -webkit-gradient(linear, left top, left bottom, from(#AD7500), to(#FFAA00), color-stop(0.06, #FFB200), color-stop(0.5, #FFC700));
}

/* ToolBarButton */
.mblToolbarButton {
	float: left;
	position: relative;
	margin: 0px 3px;
	padding: 0px 10px;
	height: 23px;
	border: 1px inset #3F3E3E;
	font-family: Helvetica;
	font-size: 13px;
	font-weight: bold;
	color: white;
	line-height: 23px;
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-tap-highlight-color: transparent;
}
div.mblToolbarButtonDomButton {
	width: 11px;
}

/* dojox.mobile.RoundRect */
.mblRoundRect {
	margin: 7px 9px 16px;
	padding: 8px;
	border: 1px solid #ADAAAD;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	color: white;
	background-color: black;
}
.mblRoundRect.mblShadow {
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* dojox.mobile.EdgeToEdgeCategory */
.mblEdgeToEdgeCategory {
	position: relative;
	height: 22px;
	margin: 0px;
	padding: 0px 10px;
	border-bottom: 1px solid #393439;
	background-color: #212021;
	font-family: Helvetica;
	font-size: 16px;
	color: white;
	line-height: 22px;
	text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* dojox.mobile.RoundRectCategory */
.mblRoundRectCategory {
	color: white;
	margin: 18px 0px 0px 20px;
	font-family: Helvetica;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* dojox.mobile.RoundRectList */
.mblRoundRectList {
	margin: 7px 9px 16px;
	padding: 0px;
	border: 1px solid #ADAAAD;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: white;
	position: relative; /* IE needs this */
}

/* dojox.mobile.EdgeToEdgeList */
.mblEdgeToEdgeList {
	padding: 0px;
	background-color: black;
	position: relative; /* IE needs this */
	margin: 0px; /* IE needs this */
}

/* dojox.mobile.ListItem */
.mblListItem {
	list-style-type: none;
	height: 64px;
	border-bottom: solid 1px #313431;
	line-height: 64px;
	font-size: 21px;
	position: relative;
	color: white;
	background-color: black;
	padding-left: 7px;
}
.mblListItemIcon {
	position: absolute;
	top: 18px;
}
.mblListItem.mblVariableHeight {
	line-height: normal;
	height: auto;
	padding: 11px 6px 10px 6px;
}
.mblItemSelected {
	background-color: #FFC700;
	background: -webkit-gradient(linear, left top, left bottom, from(#AD7500), to(#FFAA00), color-stop(0.06, #FFB200), color-stop(0.5, #FFC700));
}
.mblListItemTextBox {
	padding-right: 28px;
}
.mblListItemTextBoxSelected {
	background-color: #048BF4;
}
.mblRoundRectList .mblListItem:first-child {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
}
.mblRoundRectList .mblListItem:last-child {
	border-bottom-width: 0px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
}
.mblEdgeToEdgeList .mblListItem:last-child {
	border-bottom-color: #313431;
}
.mblListItem a.mblListItemAnchor {
	background-position: 14px 17px;
	display: block;
	padding-left: 53px;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
.mblListItem a.mblListItemAnchorNoIcon {
	padding-left: 14px;
}
.mblItemSelected a.mblListItemAnchor {
	color: black;
}
.mblListItem a.mblListItemAnchorHasRightButton {
	padding-right: 50px;
}

.mblListItem .mblDomButton {
	position: absolute;
	top: 50%;
	right: 7px;
	margin-top: -15px;
	line-height: normal;
}
.mblItemSelected .mblDomButton DIV {
	border-color: white;
}

.mblRightText {
	position: absolute;
	top: 20px;
	right: 30px;
	color: white;
	line-height: normal;
}
.mblListItem .mblRightButtonContainer {
	position: absolute;
	top: 50%;
	right: 12px;
}
.mblListItem .mblRightButton {
	position: absolute;
	top: -50%;
}
.mblListItemSubText {
	font-size: 14px;
	color: gray;
}

/* Switch */
.mblItemSwitch {
	top: 18px;
}
.mblSwitchBg {
	-webkit-border-radius: 2px;
}
.mblSwitchBgLeft {
	background: -webkit-gradient(linear, left top, left bottom, from(#00A200), to(#00D300), color-stop(0.2, #00BA00), color-stop(0.2, #00BA00));
}
.mblSwitchBgRight {
	background: -webkit-gradient(linear, left top, left bottom, from(#BDBEBD), to(#F7F3F7));
}
.mblSwitchKnob {
	background: -webkit-gradient(linear, left top, left bottom, from(#9C9A9C), to(#848284));
	-webkit-border-radius: 2px;
}

/* Progress Indicator */
.mblProgContainer {
	position: absolute;
	width: 36px;
	height: 36px;
	top: 180px;
	left: 50%;
	margin: -18px 0px 0px -18px;
}
.mblProg {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 11px;
	font-size: 1px;
	height: 4px;
	overflow: hidden;
	-webkit-transform-origin: 0 2px;
	background-color: #C0C0C0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.mblProg0 {
	-webkit-transform: translate(18px,10px) rotate(-90deg);
}
.mblProg1 {
	-webkit-transform: translate(22px,11px) rotate(-60deg);
}
.mblProg2 {
	-webkit-transform: translate(25px,14px) rotate(-30deg);
}
.mblProg3 {
	-webkit-transform: translate(26px,18px) rotate(0deg);
}
.mblProg4 {
	-webkit-transform: translate(25px,22px) rotate(30deg);
}
.mblProg5 {
	-webkit-transform: translate(22px,25px) rotate(60deg);
}
.mblProg6 {
	-webkit-transform: translate(18px,26px) rotate(90deg);
}
.mblProg7 {
	-webkit-transform: translate(14px,25px) rotate(120deg);
}
.mblProg8 {
	-webkit-transform: translate(11px,22px) rotate(150deg);
}
.mblProg9 {
	-webkit-transform: translate(10px,18px) rotate(180deg);
}
.mblProg10 {
	-webkit-transform: translate(11px,14px) rotate(210deg);
}
.mblProg11 {
	-webkit-transform: translate(14px,11px) rotate(240deg);
}

/* Button Colors */
.mblColorBlue {
	background-color: #366EDF;
	background: -webkit-gradient(linear, left top, left bottom, from(#7A9DE9), to(#2362DD), color-stop(0.5, #366EDF), color-stop(0.5, #215FDC));
}

/* Default Button Colors */
.mblColorDefault { /* Gray */
	background-color: #ADADAD;
	background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#7F7F7F), color-stop(0.5, #ADADAD), color-stop(0.5, #909090));
}

.mblColorDefaultSel { /* Orange */
	background-color: #FFC700;
	background: -webkit-gradient(linear, left top, left bottom, from(#AD7500), to(#FFAA00), color-stop(0.06, #FFB200), color-stop(0.5, #FFC700));
}
