/* Button Colors */
.mblColorBlue {
  background-color: #366EDF;
  background-image: -moz-linear-gradient(top, #7a9de9 0%, #366edf 50%, #215fdc 50%, #2362dd 100%);
}
/* Default Button Colors */
.mblColorDefault {
  background-color: #C6C6C6;
  background-image: -moz-linear-gradient(top, #dfdfdf 0%, #a6a6a6 100%);
}
.mblColorDefaultSel {
  background-color: #3578B1;
  background-image: -moz-linear-gradient(top, #306EA1 0%, #4090D3 6%, #306EA1 50%, #266093 100%);
}
