@import url("../common/domButtons/DomButtonGrayArrow.css");

@import url("../common/domButtons/DomButtonWhiteCheck.css");
/* dojox.mobile.ListItem */
.mblListItem {
  position: relative;
  list-style-type: none;
  vertical-align: bottom;
  /* To avoid IE6 LI bug */

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  padding: 0px 8px;
  height: 64px;
  border-bottom: solid 1px #313431;
  background-color: black;
  font-size: 21px;
  color: white;
  line-height: 64px;
}
.mblListItem.mblVariableHeight {
  height: auto;
  padding: 11px 8px;
  line-height: normal;
}
.mblListItem .mblListItemAnchor {
  display: block;
  height: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background-position: 14px 17px;
  text-decoration: none;
  padding-right: 7px;
}
.mblListItem .mblListItemAnchor * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}
.mblListItemSelected {
  color: white;
  background-color: #3578b1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#306ea1), to(#266093), color-stop(0.06, #4090d3), color-stop(0.5, #306ea1));
}
.mblListItemSelected .mblListItemAnchor {
  color: black;
}
.mblListItemSelected .mblDomButton div {
  border-color: white;
}
.mblListItemTextBoxSelected {
  background-color: #048BF4;
}
.mblListItemChecked .mblListItemRightIcon {
  visibility: visible;
}
.mblListItemChecked .mblListItemUncheckIcon {
  position: absolute;
  visibility: hidden;
}
.mblListItemUnchecked .mblListItemRightIcon {
  visibility: hidden;
}
.mblListItemUnchecked .mblListItemUncheckIcon {
  visibility: visible;
}
.mblListItemDeleteIcon {
  position: relative;
  float: left;
  line-height: normal;
  margin-top: 17px;
  margin-right: 11px;
}
.mblListItemIcon {
  position: relative;
  float: left;
  line-height: normal;
  margin-top: 17px;
  margin-right: 11px;
}
.mblListItemRightIcon, .mblListItemRightIcon2, .mblListItemUncheckIcon {
  position: relative;
  float: right;
  line-height: normal;
  margin-top: 17px;
  margin-bottom: -17px;
}
.mblListItemRightText {
  position: relative;
  float: right;
  line-height: normal;
  color: white;
  margin: 20px 4px 0 0;
}
.mblListItemTextBox {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mblVariableHeight .mblListItemTextBox {
  white-space: normal;
}
.mblListItemSubText {
  font-size: 14px;
  color: gray;
}
