.mblSpinWheel {
	background-color: #d6d7dc;
	background-image: -moz-linear-gradient(top, #313137 0%, #73747d 5%, #92939b 7%, #ababb5 9%, #c5c6ce 12%, #dfe0e4 16%, #f4f5f6 22%, #fbfcfc 35%, #fbfcfc 50%, #fbfcfc 61%, #b4c1c7 61%, #fbfcfc 65%, #f4f5f6 78%, #dfe0e4 84%, #c5c6ce 88%, #ababb5 91%, #92939b 93%, #73747d 95%, #313137 100%);
	-moz-border-radius: 3px;
}
.dj_ie .mblSpinWheel {
	background-image: url(compat/spinwheel-bg.png);
}

.mblSpinWheelBar {
	background-color: #c4cadc;
	background-image: -moz-linear-gradient(top, #edeef2 0%, #c8cadd 25%, #bbbfd4 49%, #9fa8c6 51%, #a2a9c7 81%, #a6abc9 82%, #a7adca 1%);
	-khtml-opacity: 0.6;
	-moz-opacity: 0.6;
	opacity: 0.6;
	filter: progid:DXImageTransform.Microsoft.alpha(opacity=60);
}
.dj_ie .mblSpinWheelBar {
	background-image: url(compat/spinwheel-bar.png);
}
.dj_ie6 .mblSpinWheelBar, .dj_ie7 .mblSpinWheelBar {
	z-index: -1;
}
*:first-child+html .mblSpinWheelSlotTouch { /* IE7 hack */
	background: white;
	filter: alpha(opacity=0);
	height: 200px;
}
*html .mblSpinWheelSlotTouch { /* IE6 hack */
	background: white;
	filter: alpha(opacity=0);
	height: 200px;
}
.mblSpinWheelSlotTouch, .mblSpinWheelSlotPanel {
	left: 0px;
}
