/* Switch - common */
.mblSwitch {
	display: inline-block;
}
.dj_ie .mblSwitch {
	display: inline;
}
.mblSwitchBg {
	border: none;
	background: none;
}
.mblSwitchBgLeft {
	background-repeat: no-repeat;
}
.mblSwitchBgRight {
	background-repeat: no-repeat;
}
.mblSwitchKnob {
	background: none;
	background-repeat: no-repeat;
	border: none;
}
/* Switch - Square Shape */
.mblSwSquareShape .mblSwitchBgLeft {
	background-image: url(compat/switch-square-l.gif);
}
.mblSwSquareShape .mblSwitchBgRight {
	background-image: url(compat/switch-square-r.gif);
}
.mblSwSquareShape .mblSwitchKnob {
	background-image: url(compat/switch-square-k.gif);
}
/* Switch - Round Shape1 */
.mblSwRoundShape1 .mblSwitchBgLeft {
	background-image: url(compat/switch-round1-l.gif);
}
.mblSwRoundShape1 .mblSwitchBgRight {
	background-image: url(compat/switch-round1-r.gif);
}
.mblSwRoundShape1 .mblSwitchKnob {
	background-image: url(compat/switch-round1-k.gif);
}
/* Switch - Round Shape2 */
.mblSwRoundShape2 .mblSwitchBgLeft {
	background-image: url(compat/switch-round2-l.gif);
}
.mblSwRoundShape2 .mblSwitchBgRight {
	background-image: url(compat/switch-round2-r.gif);
}
.mblSwRoundShape2 .mblSwitchKnob {
	background-image: url(compat/switch-round2-k.gif);
}
/* Switch - Arc Shape1 */
.mblSwArcShape1 .mblSwitchBgLeft {
	background-image: url(compat/switch-arc1-l.gif);
}
.mblSwArcShape1 .mblSwitchBgRight {
	background-image: url(compat/switch-arc1-r.gif);
}
.mblSwArcShape1 .mblSwitchKnob {
	background-image: url(compat/switch-arc1-k.gif);
}
/* Switch - Arc Shape2 */
.mblSwArcShape2 .mblSwitchBgLeft {
	background-image: url(compat/switch-arc2-l.gif);
}
.mblSwArcShape2 .mblSwitchBgRight {
	background-image: url(compat/switch-arc2-r.gif);
}
.mblSwArcShape2 .mblSwitchKnob {
	background-image: url(compat/switch-arc2-k.gif);
}
/* Switch - Default Shape */
.mblSwDefaultShape .mblSwitchBgLeft {
	background-image: url(compat/switch-square-l.gif);
}
.mblSwDefaultShape .mblSwitchBgRight {
	background-image: url(compat/switch-square-r.gif);
}
.mblSwDefaultShape .mblSwitchKnob {
	background-image: url(compat/switch-square-k.gif);
}
