@body-background-color: black;
@body-font-size: 17px;

@view-color: white;

@heading-height: 25px;
@heading-padding: 0px 0px 0px 4px;
@heading-background-color: #8C8A8C;
@heading-background-image: -webkit-gradient(linear, left top, left bottom, from(#9C9E9C), to(#848284));
@heading-border-top: 1px solid #CDD5DF;
@heading-border-bottom: 1px solid #2D3642;
@heading-font-size: 14px;
@heading-font-weight: bold;
@heading-line-height: 23px;
@heading-text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
@heading-z-index: auto; // default

@arrowbutton-height: 25px;
@arrowbutton-margin: 0px 0px 0px 6px;
@arrowbutton-head-top: 5px;
@arrowbutton-head-left: 9px;
@arrowbutton-head-height: 16px;
@arrowbutton-head-border-color: #3F3E3E;
@arrowbutton-head-background-image: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#7F7F7F), color-stop(0.5, #ADADAD), color-stop(0.5, #909090));
@arrowbutton-body-top: 0px;
@arrowbutton-body-padding: 0px 10px 0px 3px;
@arrowbutton-body-height: 23px;
@arrowbutton-body-border-color: #3F3E3E;
@arrowbutton-body-font-size: 13px;
@arrowbutton-body-font-weight: inherit; // default
@arrowbutton-body-color: white;
@arrowbutton-body-line-height: 23px;
@arrowbutton-body-border-radius: 5px;
@arrowbutton-body-background-color: #ADADAD;
@arrowbutton-body-background-image: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#7F7F7F), color-stop(0.5, #ADADAD), color-stop(0.5, #909090));
@arrowbutton-neck-top: 0px;
@arrowbutton-neck-width: 4px;
@arrowbutton-neck-height: 23px;
@arrowbutton-neck-border-width: 1px 0px 1px 0px;
@arrowbutton-neck-border-color: #3F3E3E;
@arrowbutton-neck-background-color: transparent; // default
@arrowbutton-neck-background-image: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#7F7F7F), color-stop(0.5, #ADADAD), color-stop(0.5, #909090));
@arrowbutton-selected-head-background-image: -webkit-gradient(linear, left top, left bottom, from(#AD7500), to(#FFAA00), color-stop(0.06, #FFB200), color-stop(0.5, #FFC700));
@arrowbutton-selected-neck-background-color: #FFC700;
@arrowbutton-selected-neck-background-image: -webkit-gradient(linear, left top, left bottom, from(#AD7500), to(#FFAA00), color-stop(0.06, #FFB200), color-stop(0.5, #FFC700));

@toolbarbutton-margin: 0px 3px;
@toolbarbutton-height: 23px;
@toolbarbutton-border: 1px inset #3F3E3E;
@toolbarbutton-font-size: 13px;
@toolbarbutton-line-height: 23px;
@toolbarbutton-border-radius: 5px;

@roundrect-margin: 7px 9px 16px;
@roundrect-border: 1px solid #ADAAAD;
@roundrect-border-radius: 8px;
@roundrect-color: white;
@roundrect-background-color: black;
@roundrect-shadow-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

@edgetoedgecategory-height: 22px;
@edgetoedgecategory-border-top: none; // default
@edgetoedgecategory-border-bottom: 1px solid #393439;
@edgetoedgecategory-background-color: #212021;
@edgetoedgecategory-background-image: none; // default
@edgetoedgecategory-font-weight: bold;
@edgetoedgecategory-color: white;
@edgetoedgecategory-line-height: 22px;
@edgetoedgecategory-text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;

@roundrectcategory-color: white;
@roundrectcategory-padding: 0px; // default
@roundrectcategory-margin: 18px 0px 0px 20px;
@roundrectcategory-height: auto; // default
@roundrectcategory-text-shadow: none; // default
@roundrectcategory-line-height: inherit; // default
@roundrectcategory-background-color: transparent; // default
@roundrectcategory-border: none; // default
@roundrectcategory-border-bottom-width: 0px; // default
@roundrectcategory-border-top-left-radius: 0px; // default
@roundrectcategory-border-top-right-radius: 0px; // default

@roundrectlist-margin: 7px 9px 16px;
@roundrectlist-border-radius: 8px;
@roundrectlist-bottom-left-radius: 8px; // default
@roundrectlist-bottom-right-radius: 8px; // default

@edgetoedgelist-background-color: black;

@listitem-height: 64px;
@listitem-border-bottom: solid 1px #313431;
@listitem-line-height: 64px;
@listitem-font-size: 21px;
@listitem-font-weight: inherit; // default
@listitem-color: white;
@listitem-background-color: black;
@listitem-vertical-align: bottom; // To avoid IE6 LI bug
@listitem-padding: 0px 0px 0px 7px;
@listitem-selected-background-color: #FFC700;
@listitem-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#AD7500), to(#FFAA00), color-stop(0.06, #FFB200), color-stop(0.5, #FFC700));
@listitem-textbox-selected-background-color: #048BF4;
@roundrectlist-listitem-first-border-top-width: 0px; // default
@roundrectlist-listitem-first-border-top-left-radius: 8px;
@roundrectlist-listitem-first-border-top-right-radius: 8px;
@roundrectlist-listitem-last-border-bottom-left-radius: 8px;
@roundrectlist-listitem-last-border-bottom-right-radius: 8px;
@edgetoedgelist-listitem-last-border-bottom-color: #313431;
@edgetoedgelist-listitem-last-border-bottom-width: 1px; // default
@listitem-anchor-background-position: 14px 17px;
@listitem-anchor-padding-left: 53px;
@listitem-anchor-noicon-padding-left: 14px;
@listitem-selected-anchor-color: black;
@listitem-anchor-rightbutton-padding-right: 50px;
@listitem-dombutton-border-color: transparent; // default
@listitem-righttext-top: 20px;
@listitem-righttext-color: white;
@listitem-checked-color: inherit; // default
@listitem-subtext-font-size: 14px;
@listitem-subtext-color: gray;
@listitem-selected-subtext-color: inherit; // default

@switch-item-top: 18px;
@switch-bg-border-radius: 2px;
@switch-bg-left-background-image: -webkit-gradient(linear, left top, left bottom, from(#00A200), to(#00D300), color-stop(0.2, #00BA00), color-stop(0.2, #00BA00));
@switch-bg-right-color: inherit; // default
@switch-bg-right-background-image: -webkit-gradient(linear, left top, left bottom, from(#BDBEBD), to(#F7F3F7));
@switch-knob-background-image: -webkit-gradient(linear, left top, left bottom, from(#9C9A9C), to(#848284));
@switch-knob-border-radius: 2px;
 
@color-blue-color: inherit; // default
@color-blue-background-color: #366EDF;
@color-blue-background-image: -webkit-gradient(linear, left top, left bottom, from(#7A9DE9), to(#2362DD), color-stop(0.5, #366EDF), color-stop(0.5, #215FDC));
@color-default-color: inherit; // default
@color-default-background-color: #ADADAD;
@color-default-background-image: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#7F7F7F), color-stop(0.5, #ADADAD), color-stop(0.5, #909090));
@color-default-sel-color: inherit; // default
@color-default-sel-background-color: #FFC700;
@color-default-sel-background-image: -webkit-gradient(linear, left top, left bottom, from(#AD7500), to(#FFAA00), color-stop(0.06, #FFB200), color-stop(0.5, #FFC700));

@button-font-size: 13px;
@button-background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#CECECE), color-stop(0.5, #F8F8F8), color-stop(0.5, #EEEEEE));
@button-border-radius: 3px;
@button-selected-color: white;
@button-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#AD7500), to(#FFAA00), color-stop(0.06, #FFB200), color-stop(0.5, #FFC700));
@button-blue-selected-color: white;
@button-blue-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#AD7500), to(#FFAA00), color-stop(0.06, #FFB200), color-stop(0.5, #FFC700));
@button-red-selected-color: white;
@button-red-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#AD7500), to(#FFAA00), color-stop(0.06, #FFB200), color-stop(0.5, #FFC700));
@button-disabled-background-image: none;

@checkbox-background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#CECECE), color-stop(0.5, #F8F8F8), color-stop(0.5, #EEEEEE));
@checkbox-border-radius: 3px;
@checkbox-transform: translateY(0.45em);
@checkbox-checked-background-image: -webkit-gradient(linear, left top, left bottom, from(#00A200), to(#00D300), color-stop(0.2, #00BA00), color-stop(0.2, #00BA00));
@checkbox-checked-after-border-color: white;
@checkbox-selected-border-color: #9CACC0;
@checkbox-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#AD7500), to(#FFAA00), color-stop(0.06, #FFB200), color-stop(0.5, #FFC700));
@checkbox-checked-selected-border-color: #9CACC0;
@checkbox-checked-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#AD7500), to(#FFAA00), color-stop(0.06, #FFB200), color-stop(0.5, #FFC700));
@checkbox-checked-selected-after-border-color: #9CACC0;

@combobox-popup-box-shadow: 0px 0px 50px black;
@combobox-popup-border-radius: 0px;
@combobox-menu-border-radius: 0px;
@combobox-menu-background-color: white;
@combobox-menuitem-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#048BF4), to(#005CE5));
@combobox-menuitem-border-color: #ffffff;
@combobox-menuitem-color: inherit;

@iconcontainer-padding: 0px 0px 40px 0px;
@iconcontainer-margin: 20px 0px 0px 10px;
@iconcontainer-background-color: transparent; // default
@iconcontainer-terminator-height: 20px;
@iconitem-sub-color: black;
@iconitem-area-width: 74px;
@iconitem-area-margin-bottom: 10px;
@iconitem-area-color: white;
@iconitem-heading-height: 25px;
@iconitem-heading-font-size: 14px;
@iconitem-heading-line-height: 26px;

@radiobutton-background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#CECECE), color-stop(0.5, #F8F8F8), color-stop(0.5, #EEEEEE));
@radiobutton-border-radius: 0.5em;
@radiobutton-transform: translateY(0.45em);
@radiobutton-checked-background-image: -webkit-gradient(linear, left top, left bottom, from(#00A200), to(#00D300), color-stop(0.2, #00BA00), color-stop(0.2, #00BA00));
@radiobutton-checked-after-border-color: white;
@radiobutton-checked-selected-border-color: #9CACC0;
@radiobutton-checked-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#AD7500), to(#FFAA00), color-stop(0.06, #FFB200), color-stop(0.5, #FFC700));
@radiobutton-checked-selected-after-border-color: white;

@slider-background-image: -webkit-gradient(linear, left top, left bottom, from(#BDBEBD), to(#F7F3F7));
@slider-border-radius: 2px;
@slider-progressbar-background-image: -webkit-gradient(linear, left top, left bottom, from(#00A200), to(#00D300), color-stop(0.2, #00BA00), color-stop(0.2, #00BA00));
@slider-progressbar-border-radius: 2px;
@slider-handle-background-image: -webkit-gradient(linear, left top, left bottom, from(#9C9A9C), to(#848284));
@slider-handle-border-radius: 2px;

@tabbar-background-color: #000000;
@tabbar-background-image: -webkit-gradient(linear, left top, left bottom, from(#2D2D2D), to(#000000), color-stop(0.5, #141414), color-stop(0.5, #000000));

@tabbarbutton-anchor-height: auto; // default
@tabbarbutton-div-display: block; // default
@tabbarbutton-div-height: 40px;
@tabbarbutton-icon-left: 0px;
@tabbarbutton-icon-top: 2px;
@tabbarbutton-icon-transform: none; // default
@tabbarbutton-width: 78px;
@tabbarbutton-height: 61px;
@tabbarbutton-margin-right: 2px;
@tabbarbutton-border-width: 0px 1px 0px 1px;
@tabbarbutton-border-style: solid;
@tabbarbutton-border-color: black #182018 black #393C39;
@tabbarbutton-border-right-color: #182018; // default
@tabbarbutton-cursor: auto; // default
@tabbarbutton-line-height: inherit; // default
@tabbarbutton-background-color: #212421;
@tabbarbutton-background-image: -webkit-gradient(linear, left top, left bottom, from(#181818), to(#100C10), color-stop(0.1, #313031));
@tabbarbutton-first-border-top-left-radius: 0px; // default
@tabbarbutton-first-border-bottom-left-radius: 0px; // default 
@tabbarbutton-first-border-left-width: 1px; // default
@tabbarbutton-last-border-top-right-radius: 0px; // default
@tabbarbutton-last-border-bottom-right-radius: 0px; // default
@tabbarbutton-last-border-right-color: #182018; // default
@tabbarbutton-selected-background-color: #8C8E8C;
@tabbarbutton-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#A59EA5), to(#848284));
@tabbarbutton-highlighted-background-color: #FFB600;
@tabbarbutton-highlighted-background-image: -webkit-gradient(linear, left top, left bottom, from(#FFCB00), to(#FF9A00));
@tabpanelheader-tabbarbutton-border-top-left-radius: 0px; // default
@tabpanelheader-tabbarbutton-border-top-right-radius: 0px; // default 
@tabpanelheader-tabbarbutton-selected-background-color: #8C8E8C; // default
@tabpanelheader-tabbarbutton-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#A59EA5), to(#848284)); // default
@tabbarbutton-imgdiv-display: block; // default
@tabbarbutton-imgdiv-position: relative;
@tabbarbutton-imgdiv-margin-left: 24px;
@tabbarbutton-imgdiv-height: 40px;
@tabbarbutton-img-position: absolute;
@tabbarbutton-img-left: 0px;
@tabbarbutton-img-top: 0xp; // default
@tabbarbutton-img-margin-top: 8px;
@tabbarbutton-img-transform: none; // default
@tabpanelheader-height: 64px;
@tabpanelheader-padding: 0px 0px 0px 0px;
@tabpanelheader-background-color: #000000;
@tabpanelheader-background-image: none; // default
@tabpanelheader-border-bottom: 2px solid #949694;
@tabpanelheader-line-height: inherit; // default
@tabpanelheader-text-shadow: none; // default

@textarea-border-radius: 3px;

@textbox-border-radius: 3px;

@togglebutton-font-size: 13px;
@togglebutton-background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#CECECE), color-stop(0.5, #F8F8F8), color-stop(0.5, #EEEEEE));
@togglebutton-border-radius: 3px;
@togglebutton-checked-color: white;
@togglebutton-checked-background-image: -webkit-gradient(linear, left top, left bottom, from(#00A200), to(#00D300), color-stop(0.2, #00BA00), color-stop(0.2, #00BA00));
@togglebutton-checked-after-border-color: white;
@togglebutton-selected-color: white;
@togglebutton-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#AD7500), to(#FFAA00), color-stop(0.06, #FFB200), color-stop(0.5, #FFC700));
@togglebutton-checked-selected-color: white;
@togglebutton-checked-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#AD7500), to(#FFAA00), color-stop(0.06, #FFB200), color-stop(0.5, #FFC700));
@togglebutton-checked-selected-after-border-color: white;
