.thumbNailWrapper {
	white-space: nowrap;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	text-align: center;
}

.thumbNailWrapper .thumbNailHidden {
	position:absolute;
	display: none;
	height: 1px;
	width: 1px;
}

.thumbNailWrapper table {
	margin: 0px 0px 0px 0px;
	border: 0px;
}

.thumbNailWrapper .thumbNav {
	background-repeat: no-repeat;	
	background-position:center;
	padding-top: 1px 1px 1px 1px;
}

.thumbNailWrapper .enabled {
	background-image: url("images/navBtns.gif");	
}

.thumbNailWrapper .thumbNav img {
	width: 30px;
}
.thumbNailWrapper .thumbClickable {
	cursor: pointer;
}
.thumbNailWrapper .prevHoriz {
	background-position: -9px -94px;
}

.thumbNailWrapper .nextHoriz {
	background-position: -11px -254px;
}
.thumbNailWrapper .prevVert {
	background-position: 27px -412px;
}

.thumbNailWrapper .nextVert {
	background-position: 27px -30px;
}

.thumbNailWrapper .imageGalleryImageWrapper,
.thumbNailWrapper .imageGalleryPagingContainer {
	width: 100%;
}

.thumbNailWrapper .imageGalleryPagingContainer .imageGalleryNextImg{
	padding-left: 380px;
}

.thumbNailWrapper .imageGalleryThumb {
	height: 75px;
	max-width: 100px;
	width: expression(this.width > 100 ? 100: true);/*IE Hack*/
}

.thumbNailWrapper .thumbNav .imageGalleryThumb {
	height: 50px;
}

.thumbNailWrapper .thumbPlaceholder {
	width: 100px;
	height: 75px;
	padding: 0px;
	padding-left: 1px;
}

.thumbNailWrapper .imageGalleryNotifier {
	background-color: red;
	width: 100px;
	height: 5px;
	font-size: 1%;/*IE hack to get around the Empty-Div bug*/
}

.thumbNailWrapper .imageGalleryLoading {
	background-color: #fad66a;
}

.thumbNailWrapper .imageGalleryLoaded {
	background-color: transparent;	
}