/* dojox.mobile.Button */
.mblButton {
  padding: 0 10px;
  height: 29px;
  border-style: outset;
  border-width: 1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));
  background-image: linear-gradient(to bottom, #ffffff 0%, #e2e2e2 100%);
  font-family: Helvetica;
  line-height: 29px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: 1px solid #c0c0c0;
  border-bottom-color: #9b9b9b;
  border-radius: 0;
  color: black;
  font-size: 13px;
}
.mblButtonSelected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bbbbbb), to(#666666));
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #666666 100%);
  color: white;
}
.mblButtonDisabled,
.mblButton:disabled {
  border-color: grey;
  background-image: none;
  color: grey;
  cursor: default;
}
.mblBlueButton {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7a9de9), to(#2362dd));
  background-image: linear-gradient(to bottom, #7a9de9 0%, #2362dd 100%);
  color: white;
}
.mblBlueButtonSelected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bbbbbb), to(#666666));
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #666666 100%);
}
.mblRedButton {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fa9d58), to(#ee4115));
  background-image: linear-gradient(to bottom, #fa9d58 0%, #ee4115 100%);
  color: white;
}
.mblRedButtonSelected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bbbbbb), to(#666666));
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #666666 100%);
}
