/* dojox.mobile.Slider */
.mblSlider {
  background-image: url(compat/ui-widget-bg.png);
  background-image: -moz-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.1) 3.3%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.3));
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.mblSlider.mblSliderV {
  background: #ABABAB;
}
.mblSliderProgressBar {
  background-image: url(compat/ui-widget-bg.png);
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.1) 3.3%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.3));
  -moz-border-radius: 2px;
  border-radius: 2px;
  _background-image: url(compat/slider-h-bar-bg.png);
  _background-color: transparent;
}
.mblSliderV .mblSliderProgressBar {
  background: #0D48A8;
}
.mblSliderHandle {
  background-image: url(compat/ui-widget-bg.png);
  background-image: -moz-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.1) 3.3%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.3));
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mblSliderTransition {
  -moz-transition-duration: 400ms;
  transition-duration: 400ms;
}
