/* dojox.mobile.ToolBarButton */
.mblToolBarButton {
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.dj_ie .mblToolBarButton {
  display: inline;
}
.dj_gecko .mblToolBarButtonArrow {
  -moz-transform: scale(0.7, 0.99) rotate(45deg);
}
.dj_ie .mblToolBarButtonLeftArrow {
  position: absolute;
  top: 0px;
  width: 11px;
  height: 30px;
  border-style: none;
  background-image: url(compat/arrow-button-head.png);
}
.dj_ie .mblToolBarButtonRightArrow {
  position: absolute;
  top: 0px;
  width: 11px;
  height: 30px;
  border-style: none;
  background-image: url(compat/arrow-button-right-head.png);
}
